slim 1 appearance toslim {
  instance dso "SnRibGen" $SLIMMASTER {
    description {SnRibGen.}
    subtype ribgen
    eval [slimDSOMacro ribgen]
    
    parameter string FileName {
    label "FileName"
    description {Choose the file name for fur data. To store a file under the current project and name it according to the object we're attached to, try something like: $PROJ/rmantmp/mtorFur.$o Note that the current frame number will automatically be attached by dl_UltraFur and so you do not need to include the frame number.}
    subtype file
    default {$PROJ/rmantmp/sn.$o.$F3}
    }
  }
}
