﻿BODY 
{
	FONT-SIZE: 12px; 
	FONT-FAMILY: "Verdana"; 
	text-align:center;
	font-size:small;
}
H3
{
	text-align: center;
}
P
{
	text-align: left;
}
.snoska 
{
	COLOR: Red; 
	LINE-HEIGHT: 12px; 
	FONT-FAMILY: "Verdana"; 
	LETTER-SPACING: 0px; 
	TEXT-DECORATION: none
}
.usertable
{
	width: 800pt;
	border-style:solid;
	border-width:1;
	vertical-align:top
}
.userrowheader
{
	font-weight:bold;
	text-align:center;
	vertical-align:top;
	background-color: Silver
}
.userrow
{
	vertical-align:top;
}
.usercell
{
	border-style:solid;
	border-width:1;
	vertical-align:top;
}

.paramtable
{
	border-style:solid;
	border-width:1;
	vertical-align:top
}
.paramrow
{
	vertical-align:top;
}
.paramcell
{
	border-style:solid;
	border-width:1;
	font-weight:bold;
	vertical-align:top;
	font-size:x-small;
}
.paramcelldesc
{
	border-style:solid;
	border-width:1;
	vertical-align:top;
}