############################################################################
##	Bogdanov Vyacheslav, 2006
##
##--------------------------------------------------------------------------
#
# HairShader
#	
#	
#	
#				
#
#
# $Rev.: 3.0  
# $Date: 2006/2/4
############################################################################

slim 1 extensions pixar {
	extensions pixar pxsl {
	
 template surface HairShader {
 	attribute float ShadingRate {
	default 0
	range {0 1000 .001}
	provider constant
	subtype vslider
	label {Shading Rate}
	description {Controls the quality of the shader evaluation on a per-ensemble basis.
	If 0, the global value will be used. Generally you'll only want to use this value
	in the rare case that you want to override the global behavior.}
	}
  ribattribute string CastsShadows {
	label "Casts Shadows"
	description {
	 Controls how surfaces shadow other surfaces.
	 Possible values for shadowval are shown below, in
	 order of increasing computational cost. You can 
	 optimize rendering time by making surfaces known 
	 to be opaque "opaque". To take an object out of
	 consideration during shadow generation, choose transparent
	 or, better, disable the per-object attribute in your modeler. 
	 It is important, however, to use "shade" for any surfaces
	 whose shaders modify the opacity of the surface in any
	 patterned way.
	}
	default "opaque"
	subtype selector
	range {
	Transparent transparent
	Opaque opaque
	Os Os
	Shade shade
	}
  }	 	
	collection void ColorSetting {
    parameter color RootColor {
    label "RootColor"
    detail varying
    default {.5 .5 .5}
    }
    parameter color TipColor {
    label "TipColor"
		detail varying    
    default {.5 .5 .5}
    }      
    parameter color RootOpacity {
    label "RootOpacity"
		detail varying    
    default {1 1 1}
    }
    parameter color TipOpacity {
    label "TipOpacity"
		detail varying    
    default {1 1 1}
    }    
    parameter color StaticAmbient {
    label "StaticAmbient"
    detail varying    
    default {.5 .5 .5}
    }
    parameter color SpecColor {
    label "SpecColor"
    detail varying    
    default {1 1 1}
    }
		}	
	collection void ReflectSettings {
    parameter float KrefRoot {
    subtype slider
    range {0 1 .0001}
    default 1
    }	  
	  parameter color RootReflect {
    detail varying
    default {.5 .5 .5}
    }
    parameter float KrefTip {
    subtype slider
    range {0 1 .0001}
    default 1
    }	    
    parameter color TipReflect {
		detail varying    
    default {.5 .5 .5}
    }
    parameter float noFinal {
    label "noFinal"
    description {}
    subtype switch
    default 0
    }    
	}			
	collection void ShadingSetting {
    parameter float FurKa {
    label "FurKa"
    description {When using the RAT fur shader, this parameter multiplies the effect of ambient light.}
    subtype slider
    range {0 1 .0001}
    default 1
    }
    parameter float FurKd {
    label "FurKd"
    description {When using the RAT fur shader, this parameter multiplies the effect of diffuse light.}
    subtype slider
    range {0 1 .0001}
    default .6
    }
    
		parameter float FurKdBack {
		description "Multiplier for the back side diffuse contribution. If value is 0 feature is not used."
		default 0.0
		subtype slider
		range {0 1}
		detail varying
		}
		parameter float BackFadeRate {
		description "Fade rate for Back Diffuse contribution. Increase cause faster fading. 1 - standard diffuse contribution "
		default 1
		subtype slider
		range {0 10}
		detail varying
		}    
		parameter float FurKdEdge {
		description "Multiplier for the back side diffuse contribution. If value is 0 feature is not used."
		default 0.0
		subtype slider
		range {0 1}
		detail varying
		}
		parameter float Edginess {
		description "Edginess.  "
		default 1
		subtype slider
		range {0 10}
		detail varying
		}
		parameter float edgeLightRate {
		description "Edge Light contribution rate Fading according angle between light and camera. Increase cause faster fading "
		default 0
		subtype slider
		range {0 10}
		detail varying
		}    
    parameter float FurKs {
    label "FurKs"
    description {When using the RAT fur shader, this parameter multiplies the effect of specular light.}
    subtype slider
    range {0 20 .0001}
    default 1.25
    }
    parameter float UseSpecularFade {
    label "UseSpecularFade"
    description {}
    subtype switch
    default 0
    }
    parameter float SpecularFadeRate {
    label "SpecularFadeRate"
    description {}
    subtype slider
    range {0 10 .0001}
    default 5
    }
    parameter float Roughness1 {
    label "Roughness1"
    description {}
    subtype slider
    range {0 1 .0001}
    default .008
    }
    parameter float SPEC1 {
    label "SPEC1"
    description {}
    subtype slider
    range {0 1 .0001}
    default .01
    }
    parameter float Roughness2 {
    label "Roughness2"
    description {}
    subtype slider
    range {0 1 .0001}
    default .016
    }
    parameter float SPEC2 {
    label "SPEC2"
    description {}
    subtype slider
    range {0 1 .0001}
    default .003
    }
    parameter float StartSpec {
    label "StartSpec"
    description {}
    subtype slider
    range {0 1 .0001}
    default .3
    }
    parameter float EndSpec {
    label "EndSpec"
    description {}
    subtype slider
    range {0 1 .0001}
    default .95
    }
    parameter float SpecSizeFade {
    label "SpecSizeFade"
    description {}
    subtype slider
    range {0 1 .0001}
    default .1
    }
    parameter float VarFadeStart {
    label "VarFadeStart"
    description {}
    subtype slider
    range {0 1 .0001}
    default .005
    }
    parameter float VarFadeEnd {
    label "VarFadeEnd"
    description {}
    subtype slider
    range {0 1 .0001}
    default .001
    }
    parameter float IllumWidth {
    label "IllumWidth"
    description {}
    subtype slider
    range {0 360 1}
    default 180
    }
    }
    collection void ClumpSetting {
    parameter float ClumpDarkStrength {
    label "ClumpDarkStrength"
    description {}
    subtype slider
    range {0 1 .0001}
    default .001
    }
    parameter float ClumpSpecLightening {
    label "ClumpSpecLightening"
    description {}
    subtype slider
    range {0 10 .0001}
    default 1
    }
    parameter float ClumpDiffDarkening {
    label "ClumpDiffDarkening"
    description {}
    subtype slider
    range {0 10 .0001}
    default 0
    }
    }
    collection void HairDistinctions {
    parameter float HairDifference {
    label "HairDifference"
    description {}
    subtype slider
    range {0 1 .0001}
    default 0
    }
    parameter float HairDifferenceMax {
    label "HairDifferenceMax"
    description {}
    subtype slider
    range {0 1 .0001}
    default .2
    }        
    parameter float HairDifferenceMin {
    label "HairDifferenceMin"
    description {}
    subtype slider
    range {0 1 .0001}
    default 0
    }
    }
    
  collection void ExternProperties {
  	display hidden
	parameter normal SN {
    detail uniform
    provider variable
    default {1 1 1}
	}

	parameter float hairId {
    detail uniform
    provider variable    
    default {1}
	}
	parameter vector clump_normal {
    detail uniform
    provider variable
    default {1 1 1}
	}
	parameter vector clump_vector {
    detail uniform
    provider variable
    default {1 1 1}
	}	
  collection void OutPutVariables {
  display hidden  
  parameter color hBaseC {
  access output
  provider variable
  detail varying
  default {.5 .5 .5}
  }    
  parameter color hBaseRootC {
  access output
  provider variable
  detail varying
  default {.5 .5 .5}
  }  
  parameter color hBaseTipC {
  access output
  provider variable
  detail varying
  default {.5 .5 .5}
  }   
  
	parameter color hBaseRefl {
  access output
  provider variable
  detail varying
  default {.5 .5 .5}
  }  
  parameter color hTipRefl {
  access output
  provider variable
  detail varying
  default {.5 .5 .5}
  }     
  
  parameter color hSpec {
  access output
  provider variable  
  detail varying
  default {.5 .5 .5}
  }
  
  parameter color hSpecRoot {
  access output
  provider variable  
  detail varying
  default {.5 .5 .5}
  }  

  parameter color hSpecTip {
  access output
  provider variable  
  detail varying
  default {.5 .5 .5}
  }  
  parameter color hDiff {
  access output
  provider variable
  detail varying
  default {.5 .5 .5}
  }
  parameter color hbackDiff {
  access output
  provider variable
  detail varying
  default {.5 .5 .5}
  }  
  parameter color hEdgeDiff {
  access output
  provider variable
  detail varying
  default {.5 .5 .5}
  }  
  parameter color hOp {
  access output
  provider variable
  detail varying
  default {.5 .5 .5}
  }  
  parameter color hClumpDark {
  access output
  provider variable
  detail varying
  default {.5 .5 .5}  
  }
  
  parameter color hDark {
  access output
  provider variable
  detail varying
  default {.5 .5 .5}  
  } 
  }
  }
	RSLMain {
	generate		  
	output "color fnc_diffuselgt (color Cin; vector Lin; normal Nin; float diffPower)"
	output "{"
	output "color Cout = Cin;"
	output "vector LN, NN;"
	output "float Atten;"
	output "LN = normalize(vector(Lin));"
	output "NN = normalize(vector(Nin));"			
	output "Atten = max(0.0,(pow(LN.NN, diffPower)));"
	output "Cout *= Atten;"
	output "return (Cout);"
	output "}"

	output "color fnc_diffuseEdgelgt (color Cin; vector Lin; normal Nin; float Edginess; float edgePower)"
	output "{"
	output "color Cout = Cin;"
	output "vector LN, NN;"
	output "extern vector I;"
	output "float edgeFade;"	
	output "float edge;"
	output "float edgeDiff;"	
	output "float cosin;"
	
	output "LN = normalize(vector(Lin));"
	output "NN = normalize(vector(Nin));"			
	output "vector In = normalize(I);"
	output "cosin = LN.NN;"
	output "edgeDiff = sqrt(1-(cosin*cosin));"
	
	output "cosin = In.NN;"	
	output "if (Edginess != 1){"
	output "edge = pow (sqrt(1-(cosin*cosin)), Edginess);"
	output "} else {"
	output "edge = sqrt(1-(cosin*cosin));"
	output "}"	

	output "if (edgePower == 0){"
	output "edgeFade = 1;"
	output "}"
	output "else"
	output "{"
	output "edgeFade = pow ((LN.In+1)/2, edgePower);"
	output "}"
	output "Cout *= edge * edgeFade * edgeDiff;"

	output "return (Cout);"
	output "}"
	output "extern normal SN;"
	output "extern vector clump_normal;"
	output "extern vector clump_vector;"	
	output "extern float hairId;"

	output "extern color hBaseC;"
	output "extern color hBaseRootC;"
	output "extern color hBaseTipC;"
	output "extern color hBaseRefl;"	
	output "extern color hTipRefl;"
	output "extern color hSpec;"
	output "extern color hSpecRoot;"
	output "extern color hSpecTip;"
	output "extern color hDiff;"
	output "extern color hbackDiff;"
	output "extern color hEdgeDiff;"
	output "extern color hOp;"
	output "extern color hClumpDark;"
	output "extern color hDark;"	
	
	output "uniform	float Swap = 0;"
	output "uniform	float SwapUV = 0;"
	output "uniform float hair_col_var=1;"
	output "vector clump_vect=clump_normal;"
	output "float clump_val=length(clump_vector);"	   
	output "float Vres = v;"
	output "vector DPdx = dPdv;"
	output "vector T = normalize (DPdx);"
	output "vector V = -normalize(I);"
	output "color Cspec = 0, Cdiff = 0, CdiffBack = 0, CdiffEdge = 0;"
	output "float Kspec = [getvar FurKs];"
	output "vector nL;"
	output "varying normal nSN = normalize(SN);"
	output "vector S = nSN^T;"
	output "vector N_hair = (T^S);"
	output "vector norm_hair;"
	output "float  l = clamp(nSN.T,0,1);"
	output "float clump_darkening = 1.0;"
	output "float T_Dot_nL = 0;"
	output "float T_Dot_e = 0;"
	output "float SpecDiffFade = 0;"
	output "vector T_Cross_nL = 0;"
	output "vector T_Cross_e = 0;"
	output "float Alpha = 0;"
	output "float Beta = 0;"
	output "float Gamma = 0;"
	output "float Kajiya = 0;"
	output "float darkening = 1.0;"
	output "varying color final_c;"
	output "varying color final_spec;"
	output "uniform float nonspecular = 0;"
	output "norm_hair = (l * nSN) + ((1-l) * N_hair);"
	output "norm_hair = normalize(norm_hair);"
	output "darkening = float cellnoise([getvar hairId]);"
	output "darkening = [getvar HairDifferenceMin] + ([getvar HairDifferenceMax] - [getvar HairDifferenceMin])*darkening;"		
	output "Kspec *= min(smoothstep([getvar StartSpec], [getvar StartSpec] + [getvar SpecSizeFade], Vres), 1 - smoothstep([getvar EndSpec], [getvar EndSpec] - [getvar SpecSizeFade], Vres));"
	output "illuminance (P, norm_hair, radians([getvar IllumWidth]))"
	output "{"
	output "nL = normalize(L);"
	output "T_Cross_nL =T^nL;"
	output "T_Cross_e = T^V;"
	output "T_Dot_nL = T.nL;"
	output "T_Dot_e = T.(-V);"
	output "Gamma = acos(T_Cross_nL.T_Cross_e);"
	output "if ([getvar UseSpecularFade]) SpecDiffFade = 1-pow((cos(PI-Gamma)+1)/2, [getvar SpecularFadeRate]);"
	output "else SpecDiffFade = 1;"
	output "Alpha = acos(T_Dot_nL);"
	output "Beta = acos(T_Dot_e);"
	output "Kajiya = (T_Dot_nL * T_Dot_e + sin(Alpha) * sin(Beta))* SpecDiffFade;"			
	output "if ([getvar ClumpDarkStrength] > 0.0) clump_darkening = 1 - (clump_val * [getvar ClumpDarkStrength] * abs(clamp(nL.normalize(-1*clump_vect), -1, 0)));"
	output "else clump_darkening = 1.0;"
	output "Cspec += [getvar SpecColor] * (1+[getvar ClumpSpecLightening] * clump_val)* (([getvar SPEC1]*Cl*pow(Kajiya, 1/[getvar Roughness1]))+ ([getvar SPEC2]*Cl*pow(Kajiya, 1/[getvar Roughness2])));"
	output "Cdiff += (1-[getvar ClumpDiffDarkening]*clump_val)*clump_darkening*fnc_diffuselgt(Cl, vector(L), normal(norm_hair), 1);"
	output "CdiffBack += (1-[getvar ClumpDiffDarkening]*clump_val)*clump_darkening*fnc_diffuselgt(Cl, vector(L), normal(-norm_hair), [getvar BackFadeRate]);"
	output "CdiffEdge += (1-[getvar ClumpDiffDarkening]*clump_val)*clump_darkening*fnc_diffuseEdgelgt(Cl, vector(L), normal(norm_hair), [getvar Edginess], [getvar edgeLightRate]);"
	output "}"
	output "float lumin = comp([getvar FurKd]*Cdiff,0)*0.299 + comp([getvar FurKd]*Cdiff,1)*0.587 + comp([getvar FurKd]*Cdiff,2)*0.114;"
	output "darkening = 1 - (smoothstep([getvar VarFadeEnd], [getvar VarFadeStart], abs(lumin))*darkening);"
	output "Oi = color mix([getvar RootOpacity], [getvar TipOpacity], Vres);"
	output "Oi = clamp(Oi, color 0, color 1);"
	output "hDark = darkening*color(1);"
	output "final_c = color mix([getvar RootColor], [getvar TipColor], Vres) * darkening;"
	output "hBaseRefl = [getvar RootReflect]*Oi;"
	output "hTipRefl = [getvar TipReflect]*Oi;"
	output "color reflection = color mix([getvar KrefRoot]*[getvar RootReflect], [getvar KrefTip]*[getvar TipReflect], Vres);"
	output "reflection = 0;"
	output "hOp = Oi;"
	output "hClumpDark = clump_darkening*color(1);"
	output "hDiff = clamp(Cdiff, color 0, color 1);"
	output "hbackDiff = clamp(CdiffBack, color 0, color 1);"
	output "hEdgeDiff = clamp(CdiffEdge, color 0, color 1);"	
	output "hBaseC = color mix([getvar RootColor], [getvar TipColor], Vres)*Oi;"	
	output "hBaseRootC = [getvar RootColor]*Oi;"
	output "hBaseTipC = [getvar TipColor]*Oi;"	
	output "hSpec	= Vres * Kspec * Cspec*Oi;"	
	output "Ci = (([getvar FurKa]*ambient()*[getvar StaticAmbient] + [getvar FurKd]*Cdiff + [getvar FurKdBack]*CdiffBack) * final_c + ((Vres) * Kspec * Cspec)+ [getvar FurKdEdge]*CdiffEdge*[getvar SpecColor]+ reflection);"
	output "Ci = clamp(Ci, color 0, color 1);"
	output "Ci = Oi * Ci;"
}
}		

}
}
