slim 1 appearance toslim {
  instance dso "UlHair" $SLIMMASTER {
    description {Hairs.}
    subtype ribgen
    eval [slimDSOMacro ribgen]
    
    parameter string FileName {
    label "FileName"
    description {Choose the file name for fur data. To store a file under the current project and name it according to the object we're attached to, try something like: $PROJ/rmantmp/mtorFur.$o Note that the current frame number will automatically be attached by dl_UltraFur and so you do not need to include the frame number.}
    subtype file
    default {$PROJ/$torTmps/$JOBNAME/$o.$F3.$ELEMENTNAME.$ELEMENTTYPE.hair}
    }
  }
}
