############################################################################
##	DrPicture, 2003
##
##--------------------------------------------------------------------------
#
#
# $Rev.: 1.0  
# $Date: 2003/9/5
############################################################################

slim 1 extensions bog {
	extensions bog pxsl {
	template light LightEXT {
	description {Keylight - a light with many fun controls, create on base uberlight, add support softShadow, pointShadow, 
	few shadow name, few blockers, coded by Bogdanov Vyacheslav.}
	lighttype spot
	eval [::slimLightMacro]
	collection void CommonLight {
	label {Common Light Settings}
	description {Main settings for light}
	parameter float lighttypeid {
	subtype selector
	label {Light Type}
	range {"spot" 0 "point" 1 "distant" 2 "area" area}
	default {0}
	provider expression
	expression {[if {[mel "objectType $OBJNAME"] == "pointLight"} {return 1} else {[if {[mel "objectType $OBJNAME"] == "spotLight"} {return 0} else {return 2}]}]}
	description {The subtype of light source. Use spot for lights that point in a particular direction, from a particular position ( ie. spot ).
	Use omni for light to cast light in all directions ( ie. point ) . Use distant for lights that point in a particular direction,
	from any position (ie. distant).}
	}	
	parameter float intensity {
	description {overall intensity scaling of the light.}
	expression {[if {[mel "attributeQuery -node $OBJNAME -exists intensity"] == 1} {expr [mattr $OBJNAME.intensity $f]} else {return 1}]}
	provider expression
	default {1}
	}
	parameter color lightcolor {
	description {overall color filtering for the light.}
	detail varying
	provider expression
	expression {[mattr $OBJNAME.color $f]} 
	default {1 1 1}
	}
	parameter float parallelrays {
	range {0 1}
	subtype switch
	provider expression
	expression { [if {[mel "objectType $OBJNAME"] == "directionalLight"} {return 1} else {return 0}]}
	description {when off, the light apepar to eminate from a single point ( i.e. the rays diverge ) . When on, the light rays are parallel, as if from an infinitely distant source ( like the sun ) .} 
	default {0}
	}
	}	
	collection void LightFalloff {
	label {Light Falloff}
	description {collection for light falloff from distance}
	parameter float Falloff {
	range {0 4 0.1}
	subtype slider
	label "decayRate"
	description {defines the exponent for falloff. A falloff of 0 indicates that the light is the same brightness regardless of distance from source. falloff == 1 indicates linear, falloff == 2 indicates physically-correct inverse squared falloff.}
	provider expression
	expression {[if {[mel "attributeQuery -node $OBJNAME -exists decayRate"] == 1} {expr [mattr $OBJNAME.decayRate $f]} else {return 0} ]}
	default {0}
	}
	parameter float falloffdist {
	range {0 100}
	subtype slider
	label "dropoff"
	description {the distance at which the incident energy is actually equal to the intensity * lightcolor. In other words, the intensity is actually given by: I = ( falloffdist / distance ) ^ falloff}
	expression {[if {[mel "attributeQuery -node $OBJNAME -exists dropoff"] == 1} {expr [mattr $OBJNAME.dropoff $f]+1.0} else {return 1.0} ]}
	provider expression
	default {1}
	}
	parameter float maxintensity {
	range {0 4}
	subtype slider
	description {to prevent the light from becoming unboundedly large when the distance < fallofdist, the intensity is smoothly clamped to this maximum value.}
	default {1}
	}
	}
	collection void Shapingfalloff {
	label {Shaping falloff}
	description {Shaping of the cross-section.  The cross-section of the light cone is actually described by a superellipse.}
	parameter float cuton {
	range {0 100}
	subtype slider
	description {defines the minimum z value of the depth
	range over which the light is active. Outside this
	range no energy is transmitted.}
	expression { [if {[mel "attributeQuery -node $OBJNAME -exists useDecayRegions"] == 1} { [if {[mattr $OBJNAME.useDecayRegions $f]} { return [mattr $OBJNAME.startDistance2 $f]} else { return 0.01 }]} else { return 0.01 }]}
	provider expression 
	default {0.01}
	}
	parameter float cutoff {
	range {0 100}
	subtype slider
	description {defines the maximum z value of the depth
	range over which the light is active. Outside this
	range no energy is transmitted.}
	expression { [if {[mel "attributeQuery -node $OBJNAME -exists useDecayRegions"] == 1} { [if {[mattr $OBJNAME.useDecayRegions $f]} { return [mattr $OBJNAME.endDistance2 $f]} else { return 1.0e6 }]} else { return 1.0e6 }]}
	provider expression 
	default {1.0e6}
	}
	parameter float nearedge {
	range {0 10}
	subtype slider
	description {with faredge, defines the width of the transition regions for the cuton and cutoff. The transitions will be smooth.}
	expression { [if {[mel "attributeQuery -node $OBJNAME -exists useDecayRegions"] == 1} { [if {[mattr $OBJNAME.useDecayRegions $f]} { return [mattr $OBJNAME.startDistance1 $f]} else { return 1.0e6 }]} else { return 0 }]}
	provider expression 	
	default {0}
	}
	parameter float faredge {
	range {0 10}
	subtype slider
	description {with nearedge, defines the width of the transition regions for the cuton and cutoff. The transitions will be smooth.}
	expression { [if {[mel "attributeQuery -node $OBJNAME -exists useDecayRegions"] == 1} { [if {[mattr $OBJNAME.useDecayRegions $f]} { return [mattr $OBJNAME.endDistance3 $f]} else { return 1.0e6 }]} else { return 1.0e6 }]}
	provider expression 
	default {0}
	}
	parameter float shearx {
	range {0 4}
	subtype slider
	description {one of many controls for shaping the light cross-section. The cross-section is actually described by a superellipse where shearx defines the amount of shear applied to the light cone direction.}
	default {0}
	}
	parameter float sheary {
	range {0 4}
	subtype slider
	description {one of many controls for shaping the light cross-section. The cross-section is actually described by a superellipse where sheary defines the amount of shear applied to the light cone direction.}
	default {0}
	}
	parameter float beamdistribution {
	range {0 1}
	subtype slider
	description {NOTE: penumbraAngle replaces this. One of many controls for shaping the light cross-section. The cross-section is actually described by a superellipse where beamdistribution controls intensity falloff due to angle. A value of 0 ( the default ) means no angle falloff. A value of 1 is roughly physically correct for a spotlight, and corresponds to a cosine falloff. For a BMRT area light, the cosine falloff happens automatically, so 0 is the right physical value to use. In either case, you may use larger values to make the spot more bright in the center than the outskirts. This parameter has no effect for omni lights.}
	default {0}
	}
	}
	parameter string slidename {
	subtype texture
	description {if a filename is supplied, a texture lookup will be done and the light emitted from the source will be filtered by that color, much like a slide projector. If you want to make a texture map that simply blocks light, just make it black-and-white, but store it as a RGB texture. For simplicity, the shader assumes that the texture file will have at least three channels.} 
	default {}
	}
	parameter float slideInvert {
	range {0 1}
	subtype switch
	description {} 
	default {0}
	}	
	collection void NoiseyLight {
	label {Noisey light}
	description {Projected noise on the light.}
	parameter float noiseamp {
	range {0 4}
	subtype slider
	description {amplitude of the noise projected onto the light. A value of 0 means not to use noise. Larger values increase the blotchiness of the projected noise.}
	default {0}
	}
	parameter float noisefreq {
	range {0 50}
	subtype slider
	description {frequency of the noise projected onto the light.}
	default {4}
	}
	parameter vector noiseoffset {
	description {spatial offset of the noise. This can be animated, for example if you are using the noise to simulate the attenuation of light as it passes through a window with water drops dripping down it.}
	default {0  0  0}
	}
	}	
	collection void Sellipse  {
	label {Super Ellipse}
	description "settings Superellipse soft clipping."
	parameter float width {
	range {0 4}
	subtype slider
	description {one of many controls for shaping the light cross-section. The cross-section is actually described by a superellipse where width defines the dimensions of the barn door opening. They are the cross-sectional dimensions at a distance of 1 from the light. In other words, width == height == 1 indicates a 90 degree cone angle for the light.}
	provider expression
	expression {[if {[mel "attributeQuery -node $OBJNAME -exists coneAngle"] == 1} {expr [mattr $OBJNAME.coneAngle $f]/120.0} else {return .8}]}
	default {1}
	}
	parameter float height {
	range {0 4}
	subtype slider
	description {one of many controls for shaping the light cross-section. The cross-section is actually described by a superellipse where height defines the dimensions of the barn door opening. They are the cross-sectional dimensions at a distance of 1 from the light. In other words, width == height == 1 indicates a 90 degree cone angle for the light.}
	provider expression
	expression {[if {[mel "attributeQuery -node $OBJNAME -exists coneAngle"] == 1} {expr [mattr $OBJNAME.coneAngle $f]/120.0} else {return .8}]}
	default {1}	
	}
	parameter float wedge {
	range {0 1}
	subtype slider
	description {one of many controls for shaping the light cross-section. The cross-section is actually described by a superellipse where wedge controls the amount of width edge fuzz. Values of 0 will make a sharp cutoff, large values make the edge softer.}
	provider expression
	expression {[if {[mel "attributeQuery -node $OBJNAME -exists penumbraAngle"] == 1} {expr [mattr $OBJNAME.penumbraAngle $f]*1.0/[mattr $OBJNAME.coneAngle $f]} else {return 0.1}]}	
	default {0.12}
	}
	parameter float hedge {
	range {0 1}
	subtype slider
	description {one of many controls for shaping the light cross-section. The cross-section is actually described by a superellipse where wedge controls the amount of height edge fuzz. Values of 0 will make a sharp cutoff, large values make the edge softer.}
	provider expression
	expression {[if {[mel "attributeQuery -node $OBJNAME -exists penumbraAngle"] == 1} {expr [mattr $OBJNAME.penumbraAngle $f]*1.0/[mattr $OBJNAME.coneAngle $f]} else {return 0.1}]}	
	default {0.12}
	}
	parameter float roundness {
	range {0 1}
	subtype slider
	description {one of many controls for shaping the light cross-section. The cross-section is actually described by a superellipse where roundness controls how rounded the corners of the superellipse are. If this value is 0, the cross-section will be a perfect rectangle. If the value is 1, the cross-section will be a perfect circle. In between values control the roundness of the corners in a fairly obvious way.}
	default {1}
	}
	}	
	parameter color shadowcolor {
	label {shadowcolor}
	description {The color of the shadow. Values other than black
	can simulate the effect of semi-transparent shadowing.}
	label {ShadowColor}
	default {0 0 0}
	detail varying
	}	
	parameter color Shadow {
	label  {Shadow}
	description {Connect a shadow function here.}
	default {1 1 1}
	detail varying
	}
	eval [::slimLightSpecialMacro]
	
	parameter color __inShadowC {
	access output
	display hidden
	detail varying
	provider variable
	default {0 0 0}
	}
	
	RSLMain {    	 	
	include {"pxslUtil.h"}
	include {"pxslRayUtil.h"}
	include {"dlLightUtils.h"}
	
	output "point PL = transform (\"shader\", Ps);"
	output "point from = point \"shader\" (0,0,0);"
	output "vector axis = normalize(vector \"shader\" (0,0,1));"
	output "float i;"  
	output "uniform string lighttype;"
	output "uniform float angle;"
	output "__nondiffuse = 1 - [getvar Diffuse];"
	output "__nonspecular = 1 - [getvar Specular];"	
	output "if ([getvar lighttypeid] == 0 ) {"
	indent 
	 output "uniform float maxradius = 1.4142136 * max([getvar height]+[getvar hedge]+abs([getvar sheary]),[getvar width]+[getvar wedge]+abs([getvar shearx]));"
	 output "angle = atan(maxradius);"
	 output "lighttype = \"spot\";"  
	 exdent
	output "}"
	output "else if ([getvar lighttypeid] == 1) {"
	indent
	 output "angle = PI;"
	 output "lighttype = \"point\";"  
	 exdent
	output "}"
	output "else {"
	indent
	 output "angle = PI;"
	 output "lighttype = \"distant\";"  
	 exdent
	output "}"
	output "illuminate (from, axis, angle) {"
	indent
	 output "float atten = 1.0;"
	 output "color lcol = [getvar lightcolor];"
	 output "atten *= ShapeLightVolume (PL, lighttype, axis, [getvar cuton], [getvar cutoff],"
	 output "[getvar nearedge], [getvar faredge], [getvar Falloff], [getvar falloffdist],"
	 output "[getvar maxintensity]/[getvar intensity], [getvar shearx], [getvar sheary],"
	 output "[getvar width], [getvar height], [getvar hedge], [getvar wedge], [getvar roundness],"
	 output "[getvar beamdistribution]);"
	 output "if ([getvar slidename] != \"\") {"
	 indent
	  output "point Pslide = PL / point ([getvar width]+[getvar wedge], [getvar height]+[getvar hedge], 1);"
	  output "float zslide = zcomp(Pslide);"
	  output "float xslide = 0.5+0.5*xcomp(Pslide)/zslide;"
	  output "float yslide = 0.5-0.5*ycomp(Pslide)/zslide;"	  	  
	  output "if([getvar slideInvert]==1) lcol *= 1-color texture ([getvar slidename], xslide, yslide);" 
	  output "else lcol *= color texture ([getvar slidename], xslide, yslide);"	  
	  exdent
	 output "}"
	 output "if (atten > 0) {"
	 indent
	  output "if ([getvar noiseamp] > 0) {"
	  indent
	   output "point Pslide = PL/point ([getvar width]+[getvar wedge], [getvar height]+[getvar hedge], 1);"
	   output "float zslide = zcomp(Pslide);"
	   output "float xslide = 0.5+0.5*xcomp(Pslide)/zslide;"
	   output "float yslide = 0.5-0.5*ycomp(Pslide)/zslide;"
	   output "point Plighen = point(xslide, yslide, zslide);"
	   output "if([getvar parallelrays]>0) Plighen = PL;"
	   output "float n = noise ([getvar noisefreq]*(Plighen + [getvar noiseoffset])*point(1,1,0));"
	   output "n = smoothstep (0, 1, 0.5 + [getvar noiseamp] * (n-0.5));"
	   output "atten *= n;"
	   exdent
	  output "}"
	  output "color unoccluded = 1;"
	  output "color tmpShd = 0;" 
	  generate	
	  if [connected Shadow] { 
	  output "tmpShd = [getvar Shadow];"
	  }		  
	  output "unoccluded *= 1-tmpShd;"  	  
	  output "point shadoworigin;"
	  output "if ([getvar parallelrays] == 0) shadoworigin = from;"
	  output "else shadoworigin = point \"shader\" (xcomp(PL), ycomp(PL), [getvar cuton]);"
	  output "__inShadowC = (1 - unoccluded);"
	  output "color Cnosh = (atten*[getvar intensity]) * [getvar lightcolor];"  
	  output "__noShadow = Cnosh;"   
	  output "lcol = pxslCmix([getvar shadowcolor], lcol, unoccluded);"
	  exdent
	 output "}"
	 output "Cl = (atten*[getvar intensity]) * lcol;"
	 output "if ([getvar parallelrays] != 0)"
	 output "L = axis * length(Ps-from);"
	 exdent
	output "}"
	 }
	}
    
}
}