slim 1 appearance toslim {
  instance dso "OcellarisRibGen" $SLIMMASTER {
    description {OcellarisRibGen.}
    subtype ribgen
    eval [slimDSOMacro ribgen]
    
	parameter float DoExportToThisFile {
	    label "DoExportToThisFile"
            description "If checked ocellaris export shape that this ribgen attached to. Else file with Filename gone to render."
	    default 1
	    subtype switch
	}
	
    parameter string FileName {
    label "FileName"
    description {Choose the file name for fur data. To store a file under the current project and name it according to the object we're attached to, try something like: $PROJ/rmantmp/mtorFur.$o Note that the current frame number will automatically be attached by dl_UltraFur and so you do not need to include the frame number.}
    subtype file
    default {$PROJ/$torTmps/$JOBNAME/$o.$F3.$ELEMENTNAME.$ELEMENTTYPE.ocs}
    }

    parameter string ProjectPath {
    label "ProjectPath"
    description {Choose the file name for fur data. To store a file under the current project and name it according to the object we're attached to, try something like: $PROJ/rmantmp/mtorFur.$o Note that the current frame number will automatically be attached by dl_UltraFur and so you do not need to include the frame number.}
    subtype file
    default {$PROJ}
    }
    parameter string JobName {
    label "JobName"
    description {}
    subtype file
    default {$JOBNAME}
    }
	parameter float Ascii {
	    label "Ascii"
            description "Ascii"
	    default 1
	    subtype switch
	}
	parameter float Dump {
	    label "Dump"
            description "Dump"
	    default 0
	    subtype switch
	}
	parameter float IgnoreSurfaceShaders {
	    label "IgnoreSurfaceShaders"
            description "Ignore Surface Shaders"
	    default 0
	    subtype switch
	}
	parameter float IgnoreDisplacementShaders {
	    label "IgnoreDisplacementShaders"
            description "Ignore Displacement Shaders"
	    default 0
	    subtype switch
	}
	parameter float RayTrace {
	    label "RayTrace"
            description "RayTrace"
	    default 0
	    subtype switch
	}
	parameter float RayTrace {
	    label "RayTrace"
            description "RayTrace"
	    default 0
	    subtype switch
	}
	parameter float MayaShaders {
	    label "MayaShaders"
            description "MayaShaders"
	    default 0
	    subtype switch
	}
	parameter float SlimShaders {
	    label "SlimShaders"
            description "SlimShaders"
	    default 1
	    subtype switch
	}
  }
}
