
#
# chevelureUVmanifold.slim
#
#   templates for custom manifolds.
#
slim 1 extensions pixar {
	extensions pixar pxsl {
	template manifold chevelureUVmanifold {
	    description "map texture by U&V parameters"
	    parameter float bSwapUV {
	    	description "Swap U<->V"
	    	subtype switch
		default 0
	    }
	    collection manifold result {
		access output
		display hidden
		parameter point Q {
		    access output
		}
		parameter vector dQu {
		    access output
		}
		parameter vector dQv {
		    access output
		}
	    }
	    RSLFunction {
		void pxslchevelureUVmanifold (
		    uniform float bSwapUV;
		    output point Q; 
		    output vector dQu;
		    output vector dQv;
		) 
		{
			extern float u, v;

			if(bSwapUV == 0)
			{
				Q = vector(u, v, 0);
				dQu = vector(1, 0, 0);
				dQv = vector(0, 1, 0);
			}
			else
			{
				Q = vector(v, u, 0);
				dQu = vector(0, 1, 0);
				dQv = vector(1, 0, 0);
			}
		}
	    }
	}	
	
	}
}