############################################################################
##	Ulitka, 2003
##
##--------------------------------------------------------------------------
#
# ulHairSurfaceUVmanifold.slim - collection of manifold functions.
#	Contain:	ulHairSurfaceUVmanifold
#
#
# $Rev.: 1.0  
# $Date: 3/10/2003
############################################################################

#
# ulHairSurfaceUVmanifold.slim
#
#   templates for custom manifolds.
#
slim 1 extensions pixar {
	extensions pixar pxsl {
	
	
    template manifold ulHairSurfaceUVmanifold {
    	description "This template provides access to a non-default Maya UV Set.
	    If you wish to access the default UV Set, the standard ST manifold
	    should suffice."
	    
	parameter float SurfaceU {
	    label "SurfaceU"
	    description "The name of the Maya UV set associated with your mesh."
		default {0}
	    detail uniform
		display hidden
		provider primitive
	}
	parameter float SurfaceV {
	    label "SurfaceU"
	    description "The name of the Maya UV set associated with your mesh."
		default {0}
	    detail uniform
		display hidden
		provider primitive
	}
	
	collection manifold result {
	    access output
	    display hidden
	    parameter point Q {
		access output
	    }
	    parameter vector dQu {
		access output
	    }
	    parameter vector dQv {
		access output
	    }
	}
	
	RSLFunction {
		void pxslulHairSurfaceUVmanifold (
			output point Q; 
			output vector dQu;
			output vector dQv;
		) 
		{
			extern float SurfaceU;
			extern float SurfaceV;
			Q = point(SurfaceU, SurfaceV, 0);
			dQu = vector Du(Q)*du;
			dQv = vector Dv(Q)*dv;
	    }
	}
    }
	
	}
}