slim 1 extensions pixardb {
    extensions pixar pxsl {
template float DistancePro {
	    description "Calculates the distance of points on a
	    	manifold from the origin.  You might use this
		distance to vary some function along the distance.
		For example you could map a light intensity through
		a spline, using this function."
			    parameter float multplDivide {
	    	default 0
		subtype selector
		range { mult 0 div 1  }
	    }
	 
	    parameter float domain {
	    	default 0
		subtype selector
		range { XYZ 0 X 1 Y 2 Z 3 XY 4 XZ 5 YZ 6 }
	    }
	    parameter float multiplier {
	    	description "A multiplier for the distance."
		subtype vslider
		range {-10 10 .01}
		provider expression
		expression {[mattr $OBJNAME.radius $f]}
		default 1
	    }
	    collection manifold manifold {
	    	detail mustvary "pixar,SurfacePoint"
	    	state locked
	    	parameter point p {
		    detail mustvary
		}
		parameter vector dpdu {
		    detail mustvary
		}
		parameter vector dpdv {
		    detail mustvary
		}
	    }
	    parameter float result {
	    	access output
		display hidden
	    }
	    RSLFunction {
	    	void
		pxslDistancePro(float mult;
		   		       float which;
		    	    float multiplier;
		    	    point Q; vector dQu, dQv; 
		    	    output float result; )
		{
	
		    if (which == 0)
		    	result = length(Q);
		    else
		    if (which == 1)
		    	result = abs(xcomp(Q));
		    else
		    if (which == 2)
		    	result = abs(ycomp(Q));
		    else
		    if (which == 3)
		    	result = abs(zcomp(Q));
		    else
		    if (which == 4)
		    {
		    	setzcomp(Q, 0);
			result = length(Q);
		    }
		    else
		    if (which == 5)
		    {
		    	setycomp(Q, 0);
			result = length(Q);
		    }
		    else
		    if (which == 6)
		    {
		    	setxcomp(Q, 0);
			result = length(Q);
		    }
		    	  if (mult == 0)
		     result *= 1/multiplier;
		  else
		     result *= multiplier; 
		}
	    }
	}
	}
	}
