slim 1 extensions pixar {
	extensions pixar pxsl {

# indirect and caustic lights are in the raytracing template
    template light EnvironmentLightPro {
	label "EnvironmentPro"
    	lighttype environment
	description "This is used to create an Environment for use in Image Based Lighting."
	# not very valuable at this time:  eval [::slimLightMacro environment]
	parameter environment Environment {
	    detail mustvary pixar,EnvMapPro
	    default {0 0 0}
	}
	parameter float Intensity {
	    description "The brightness of the Environment."
	    subtype slider
	    range {0 2}
	    default 1
	}
	collection void Tweaks {
	    label "Color Tweaks"
	    state open
	    parameter float Apply {
		description { Toggles application of these tweaks. }
		default 0
		detail uniform
		subtype switch
	    }
	    parameter float Saturation {
		default 1
		subtype slider
		range {0 3}
		description {Controls the saturation of environment illumination. 
		    Set this to 1 for no effects.}
	    }
	    parameter color Bias {
		description {A normalized gamma correction factor.
		    Values greater than .5 lighten the result, values
		    less than .5 make it darker.}
		detail varying
		default {.5 .5 .5}
	    }
	    parameter color Gain {
		description {Gain is used to favor dark area when less than
		    .5 or light areas when greater than .5.}
		detail varying
		default {.5 .5 .5}
	    }
	}
	parameter string __category {
	    access output
	    provider primitive
	    detail uniform
	    display hidden
	    default "environment"
	}
	parameter float __nondiffuse {
	    access output
	    display hidden
	    detail varying
	    provider primitive
	    default 1
	}
	parameter float __nonspecular {
	    display hidden
	    access output
	    detail varying
	    provider primitive
	    default 1
	}
	parameter color _indirectdiffuse {
	    access output
	    display hidden
	    detail varying
	    provider primitive
	    default {1 1 1}
	}
	eval [::slimLightContributionOutputMacro -refl]
    	RSLMain {
	 include "pxslRemap.h"
	 output "solar () {"
	 indent
	    generate
	    output "Cl = [getvar Environment];"
	    output "if([getvar Apply] != 0) {"
	    indent
		output "float lum = .2125*comp(Cl, 0) + .7154*comp(Cl, 1) + "
		output "	    .0721*comp(Cl, 2);"
		output "Cl = mix(color(lum), Cl, [getvar Saturation]);"
		output "Cl = pxslColorBias([getvar Bias], Cl);"
		output "Cl = pxslColorGain([getvar Gain], Cl);"
		exdent
	    output "}"
	    output "Cl *= [getvar Intensity];"
	    output "_indirectdiffuse *= [getvar Intensity];"
	    #output "Cl = color environment(\"//server/EDGE/MM/MAYA/sourceimages/kitchen.tex\", vtransform(\"world\", -L), \"filter\", \"gaussian\", \"lerp\", 1, \"blur\", 1);"
	    #output "Cl = color environment(\"//server/EDGE/MM/MAYA/sourceimages/kitchen.tex\", vtransform(\"world\", -L));"
	    #output "_indirectdiffuse *= [getvar Intensity];"
	    #output "_indirectdiffuse = Cl;"
	 exdent
	 output "}"
	}
     }
  }
}

}
}