##
## Copyright (c) 1999 PIXAR.  All rights reserved.  This program or
## documentation contains proprietary confidential information and trade
## secrets of PIXAR.  Reverse engineering of object code is prohibited.
## Use of copyright notice is precautionary and does not imply
## publication.
##
##                      RESTRICTED RIGHTS NOTICE
##
## Use, duplication, or disclosure by the Government is subject to the
## following restrictions:  For civilian agencies, subparagraphs (a) through
## (d) of the Commercial Computer Software--Restricted Rights clause at
## 52.227-19 of the FAR; and, for units of the Department of Defense, DoD
## Supplement to the FAR, clause 52.227-7013 (c)(1)(ii), Rights in
## Technical Data and Computer Software.
##
## Pixar
## 1001 West Cutting Blvd.
## Richmond, CA  94804
##
## ----------------------------------------------------------------------------
#
# environments.slim
#   these function are intended to be plugged into environment lightsource
#   functions - we assume that they'll be called within a "broad solar"
#   loop.  They collaborate with "receptive" surfaces via msg passing
#   between the per-surface __L and __blur parameters.
#
# $Revision: #28 $
#
slim 1 extensions pixardb {
  extensions pixar pxsl {
    customui EnvMapPro {
	TclTkSource {

	    #
	    # These procs define the visibility of parameters for
	    # the various Diffuse and Specular Methods of EnvMap.
	    # 
	    # Guts of the code to change visibility are in visui.slim
	    #
	    proc ChangeDiffEnv prop {
		# the vis state of some properties also
		# depends on the object setting
		set envMethod [$prop GetValue]
		set app [$prop GetAppearance]
		set objP [$app GetProperties -first -name diffObjMethod]
		set objMethod [$objP GetValue]

		if {$objMethod == "none" && $envMethod == "none"} {
		    # both methods disabled; hide "Contribution"
		    set contribP [$app GetProperties -first -name diffContrib]
		    $contribP SetDisplayLevel hidden
		}

		if {$objMethod != "traced" && $envMethod != "sampled"} {
		    # DiffSamples not necessary; hide
		    set sampP [$app GetProperties -first -name DiffSamples]
		    $sampP SetDisplayLevel hidden
		}

		::Slim::CustomUI::pixar::Vis::UpdateVisibility $prop {
		    none {
			hidden {DiffHemisphere DiffBlurFilter DiffSample*}
			"" {}
		    }
		    blurred {
			hidden DiffSample*
			"" {DiffHemisphere DiffBlurFilter diffContrib}
		    }
		    sampled {
			hidden DiffBlurFilter
			"" {DiffHemisphere DiffSample* diffContrib}
		    }
		}
	    }

	    proc ChangeDiffObj prop {
		# the vis state of some properties also
		# depends on the environment setting
		set objMethod [$prop GetValue]
		set app [$prop GetAppearance]
		set envP [$app GetProperties -first -name diffEnvMethod]
		set envMethod [$envP GetValue]
		set effP [$app GetProperties -first -name diffObjEffects]
		set objEffects [$effP GetValue]

		if {$objMethod == "none" && $envMethod == -1} {
		    # both methods disabled; hide "Contribution"
		    set contribP [$app GetProperties -first -name diffContrib]
		    $contribP SetDisplayLevel hidden
		}

		if {$objMethod != "traced" && $envMethod != 1} {
		    # DiffSamples not necessary; hide
		    set sampP [$app GetProperties -first -name DiffSamples]
		    $sampP SetDisplayLevel hidden
		}

		if {$objMethod == "traced" && $objEffects == "colorbleeding"} {
		    set level "" ; # visible
		} else {
		    set level hidden
		}
		# update hitmode
		set hitP [$app GetProperties -first -name DiffHitMode]
		$hitP SetDisplayLevel $level

		::Slim::CustomUI::pixar::Vis::UpdateVisibility $prop {
		    none {
			hidden {diffObjEffects 
			    DiffSubset DiffMaxDist DiffMaxVariation 
			    DiffHitMode DiffBake*}
			"" {}
		    }
		    traced {
			hidden DiffBake*
			"" {DiffSamples diffObjEffects
			    DiffSubset DiffMaxDist DiffMaxVariation 
			    diffContrib}
		    }
		    approximated {
			hidden {diffObjEffects DiffSubset
			    DiffMaxVariation DiffHitMode}
			"" {diffObjEffects DiffMaxDist 
			    DiffBake* diffContrib}
		    }
		}
	    }

	    proc ChangeDiffEffects prop {
		# toggle hitmode
		set objEffects [$prop GetValue]
		set app [$prop GetAppearance]
		set objP [$app GetProperties -first -name diffObjMethod]
		set objMethod [$objP GetValue]
		
		if {$objMethod == "traced" && $objEffects == "colorbleeding"} {
		    set level "" ; # visible
		} else {
		    set level hidden
		}
		# update hitmode
		set hitP [$app GetProperties -first -name DiffHitMode]
		$hitP SetDisplayLevel $level
		
		$app UpdateEditor
	    }

	    proc ChangeSpecular prop {
		::Slim::CustomUI::pixar::Vis::UpdateVisibility $prop {
		    -1 {
			hidden Spec*
			"" {}
		    }
		    0 {
			hidden Spec*
			"" {SpecContrib Specular SpecBlur*}
		    }
		    1 {
			hidden Spec*
			"" {SpecContrib Specular SpecM*Blur* SpecM*Samples}
		    }
		    2 {
			"" Spec*
			hidden Spec*Blur*
		    }
		    * {
			"" *
		    }
		}
	    }
	}
    }

    templateV environment Blobby 1 {
    	parameter color Foreground {
	    default {1 1 1}
	    detail varying
	}
	parameter color Background {
	    default {0 0 0}
	    detail varying
	}
	parameter float Complexity {
	    default 1
	    range {.25 4 .01}
	    subtype slider
	}
	parameter float Variation {
	    default 0
	    detail varying
	    subtype slider
	    range {0 100 .01}
	}
	parameter string Space {
	    default world
	}
	parameter normal ShadingNormal {
	    detail mustvary "pixar,ShadingNormal"
	}
	parameter vector IncidentDirection {
	    detail mustvary "pixar,IncidentDirection"
	}
	parameter string __category {
	    access output
	    provider primitive
	    detail uniform
	    display hidden
	    default "environment"
	}
	parameter float __coneangle {
	    provider primitive
	    display hidden
	    detail varying
	    default 0
	}
	parameter vector __coneaxis {
	    provider primitive
	    display hidden
	    detail varying
	    default {0 0 0}
	}
	parameter color result {
	    access output
	    display hidden
	}
	RSLInclude "pxslRayUtil.h"
    	RSLFunction {
	    void
	    pxslBlobby( color Foreground;
	    	    	color Background;
	    	    	uniform float Complexity;
			float Variation;
			uniform string Space;
			normal Ns;
			vector In;
			output varying color result; )
	    {
	    	varying vector Rs;
		varying float blur;
		varying float x, y;
		extern vector __coneaxis;
		extern float __coneangle;
	    	if(vector(0) == __coneaxis)
		    Rs = reflect(In, Ns);
		else
		    Rs = __coneaxis;
		if(Space != "")
		    Rs = vtransform(Space, Rs);
	    	Rs *= Complexity * point (2,1,2);
		blur = __coneangle/1.57 * area(Rs);
		x = float noise (Rs, Variation);
		x *= smoothstep (-blur, blur, x-.5);
		y = float noise (Rs+11, Variation);
		y *= smoothstep (-blur, blur, y-.5);
		x = max (x, .9*(y-.5));
		result = mix (Foreground, Background, x);
	    }
	}
    }
    templateV environment EnvMapPro 0 {
	msghandler {
	    UpgradeTemplate {
		# The functionality of the "diffuseMethod" property
		# in previous versions of the template has been
		# divided up into three different properties.
		# 
		# This msghandler, invoked when upgrading, translates
		# settings from the previous version to the current
		#
		set app %obj
		::RAT::LogMsg NOTICE "[$app GetLabel] : transferring settings from previous version of template"
		switch [$app GetPropertyField diffuseMethod value] {
		    -1 {
			# off; no change necessary
		    }
		    0 {
			# blurred environment
			$app SetPropertyField diffEnvMethod value 0
		    }
		    1 {
			# blurred w/ occlusion
			$app SetPropertyField diffEnvMethod value 0
			$app SetPropertyField diffObjMethod value traced
			$app SetPropertyField diffObjEffects value occlusion
		    }
		    2 {
			# sampled environment
			$app SetPropertyField diffEnvMethod value 1
		    }
		    3 {
			# occluded environment
			$app SetPropertyField diffEnvMethod value 1
			$app SetPropertyField diffObjMethod value traced
			$app SetPropertyField diffObjEffects value occlusion
		    }
		    4 { 
			# irradiance / colorbleeding
			$app SetPropertyField diffEnvMethod value 1
			$app SetPropertyField diffObjMethod value traced
			$app SetPropertyField diffObjEffects value colorbleeding
		    }
		}
	    }
	}
	parameter string MapName {
	    label "File"
	    description "The name of the Environment Map to use. AAA"
	    provider variable
	    subtype environment
	    default ""
	}
	parameter string Space {
	    label "Coordinate System"
	    description "A coordinate system for your environment map.
	    	When used with maps generated from the attached object,
		use \"_world_lefthanded\" or \"world\". If you have an 
		arbitrary lat-long environment use \"_environment\".  
		If you wish to independently manipulate the orientation 
		of your environment, enter the name of a coordinate 
		system object here."
	    default _environment
	    provider variable
	}
	collection void diffuse {
	    label "Diffuse Effects"
	    description {
		Controls for computing the diffuse environment effects
		in your scene.
	    }
	    state open
	    parameter float diffEnvMethod {
		label "EnvMap Lookup"
		description {
		    Method for calculating contribution from environment map.
		    A single blurred lookup is faster; at a cost, you can
		    achieve better results with several samples.
		}
		subtype selector
		range {
		    "None" -1
		    "Blurred" 0
		    "Sampled" 1
		}
		default -1
		msghandler {
		    SetValue {
			::Slim::CustomUI::pixar::EnvMap::ChangeDiffEnv %obj
		    }
		}
	    }
	    slimattribute string diffObjMethod {
		label "Object Calculations"
		description {
		    How inter-object interactions are calculated.
		    Point-based approximations can be faster for
		    complex scenes, but require a separate bake pass.
		}
		subtype selector
		range {
		    "None" none
		    "Traced" traced
		    "Approximated" approximated
		}
		default none
		msghandler {
		    SetValue {
			::Slim::CustomUI::pixar::EnvMap::ChangeDiffObj %obj
		    }
		}
	    }
	    slimattribute string diffObjEffects {
		display hidden
		label "Object Effects"
		description {
		    Effects of other objects in the scene.
		    With occlusion, objects occlude light
		    from the environment. With color bleeding,
		    the color of the objects also come into effect.
		    For traced calculations, this can significantly
		    increase render time. The increase is less
		    substantial with point-based approximations.
		}
		subtype selector
		range {
		    "Occlusion Only" occlusion
		    "Color Bleeding" colorbleeding
		}
		default colorbleeding
		msghandler {
		    SetValue {
			::Slim::CustomUI::pixar::EnvMap::ChangeDiffEffects %obj
		    }
		}
	    }
	    parameter float DiffHemisphere {
		#display hidden
		label Hemisphere
		description {
		    Controls the region of the hemisphere
		    above a shading point from which to gather
		    diffuse environmental illumination.
		}
		subtype slider
		default .95
		range {0 1 .001}
		detail varying
	    }
	    parameter string DiffBlurFilter {
		display hidden
		label "Blur Filter"
		description {
		    Type of filter to use for blurring. Disk
		    may give better results, but is more compute-intensive.
		}
		subtype selector
		range {
		    Box box
		    Gaussian gaussian
		    Disk disk
		}
		default gaussian
	    }
	    parameter float DiffSamples {
		display hidden
		label Samples
		description {
		    The number of rays used to sample the environment.
		    Maps with large, abrubt changes in value will require
		    more samples to produce a smooth diffuse response.
		}
		default 256
		subtype slider
		range {0 4096 4}
	    }
	    parameter float DiffSampleBlurFactor {
		display hidden
		label "Blur Factor"
		description {
		    A scaling factor that affects the amount of blur
		    used when sampling the environment. Increasing
		    the blur can help achieve smoother results.
		}
		subtype slider
		default 1
		range {0 10}
		detail varying
	    }
	    parameter string DiffSubset {
		display hidden
		label Subset
		description {
		    The name of the set of objects that contribute shadowing
		    in your scene.  Leave this blank to cause all objects
		    to partake in shadow calcs.  You can speed up the calcs
		    by reducing the number of objects to test for shadows.
		}
		default ""
	    }
	    parameter float DiffMaxDist {
		display hidden
		label "Max Dist"
		description {
		    The maximum distance to consider for shadowing.  Only
		    objects within this distance will contribute shadows.
		    Reducing this number can often accelerate rendering speed.
		}
		default 100
	    }
	    parameter float DiffMaxVariation {
		display hidden
		label "Max Variation"
		description {
		    The maximum variation (expressed as a percentage)
		    tolerable for occlusion and indirect calculations.
		    A larger tolerable variation will decrease
		    rendering time at the expense of quality.
		    Because of the nature of diffuse calculations, 
		    this generally requires a large number of samples
		    to function effectively.
		}
		default 0.05
		subtype slider
		range {0 0.5 .01}
	    }
	    parameter string DiffHitMode {
		display hidden
		label "Hit Mode"
		description {
		    How color and opacity should be computed at ray hit
		    points for irradiance: <p>
		    Object's HitMode - color and opacity are
		    determined as specified by the hit object's "shade"
		    "diffusehitmode" attribute. <p>
		    Cs/Os - color and opacty are copied from the 
		    object's Color and Opacity attributes. <p>
		    Shader - the shader is evaluated to determine 
		    color and opacity
		}
		subtype selector
		range {
		    "Object's HitMode" default
		    "Cs/Os"  primitive
		    "Shader" shader
		}
		default default
	    }

	    slimattribute float DiffBakeMaxSolidAngle {
		display hidden
		label Approximation
		default 0.1
		range {0 0.2 .001}
		description {
		    A straightforward time-vs-quality knob. It determines how
		    small a cluster must be (as seen from the point we're 
		    computing occlusion for at that time) for it to be a 
		    reasonable stand-in for all the points in it. Reasonable 
		    values seem to be in the range 0.03 - 0.1.
		}
	    }
	    slimattribute string DiffBakeMap {
		display hidden
		label "File Context"
		description {
		    The file context to store the baked data in.
		    Any number of shaders can bake their data to the 
		    same file (as long as it's the same kind of data). 
		    Often, it may be more convenient to keep data
		    separated by object or shader instance.
		}
		default {$::INSTANCENAME}
	    }
	    slimattribute string DiffBakeContext {
		display hidden
		label "Bake Context"
		description {
		    The name of the rendering context to bake
		    the illumination for later scattering.
		}
		default BAKECONTEXT
	    }
	    slimattribute string DiffBakeFrequency {
		display hidden
		label "Bake Frequency"
		subtype selector
		range {
		    Job job
		    Frame frame
		}
		default frame
	    }
	    slimattribute float DiffBakeLazy {
		display hidden
		label "Lazy"
		description {
		    Determines whether to lazily run the point-based approximations.
		    You should only disable Lazy when experimenting with
		    approximation parameters.
		}
		subtype switch
		default 1
	    }
	    slimattribute int DiffBakeDisable {
		display hidden
		label Disable
		subtype switch
		default 0
	    }
	    parameter string diffBakeCurrentContext {
		display hidden
		description {this hidden parameter captures the current context}
		provider variable
		default {$::CONTEXT}
	    }
	    parameter string diffBakedFile {
		display hidden
		description {This hidden parameter is automatically computed.}
		default {}
		provider variable locked
	    }
	    parameter string diffPtcFile {
		display hidden
		description {This hidden parameter is automatically computed.}
		default {}
		provider variable locked
	    }
	    parameter string diffBakePass {
		display hidden
		description {This hidden parameter is automatically computed.}
		default {}
		provider variable locked
	    }


	    collection void diffContrib {
		display hidden
		label Contribution
		description {
		    Controls for the contribution of these effects to
		    various shading components in the surface.
		}
		parameter float Diffuse {
		    description {
			Controls the amount this light contributes to the 
			diffuse portion of a surface's shadingmodel.
		    }
		    detail varying
		    default 1
		    subtype slider
		    range {0 1 .01}
		}
		parameter float Rim {
		    description {
			Controls the amount this light contributes to 
			Rim shading components.
		    }
		    detail varying
		    default 1
		    subtype slider
		    range {0 1 .01}
		}
		parameter float ThinTranslucence {
		    label "Thin Translucence"
		    description {
			Controls the amount this light contributes to 
			Thin Translucence shading components.
		    }
		    detail varying
		    default 1
		    subtype slider
		    range {0 1 .01}
		}
		parameter float BackScattering {
		    label "Back Scattering"
		    description {
			Controls the amount this light contributes to 
			Back Scattering shading components.
		    }
		    detail varying
		    default 1
		    subtype slider
		    range {0 1 .01}
		}
		parameter float SubsurfaceScattering {
		    label "Subsurf Scattering"
		    description {
			Controls the amount this light contributes to 
			Subsurface Scattering shading components.
		    }
		    detail varying
		    default 1
		    subtype slider
		    range {0 1 .01}
		}
	    }
	}

	collection void specular {
	    label "Specular Effects"
	    description {
		Controls for computing the specular environment effects
		in your scene.
	    }
	    state open
	    parameter float specularMethod {
		label Method
		description {
		    Blurred Environment - performs a single blurred lookup
		    of your environment.<p>
		    Sampled Environment - samples your environment according to
		    Samples.
		}
		default 0
		subtype selector
		range {
		    Off -1
		    "Blurred Environment" 0
		    "Sampled Environment" 1
		    "Occluded Environment" 2
		}
		msghandler {
		    SetValue {
			::Slim::CustomUI::pixar::EnvMap::ChangeSpecular %obj
		    }
		}
	    }
	    parameter float SpecBlurFactor {
		label "Blur Factor"
		description {
		    Blurriness factor that is combined with
		    the illuminated material's roughness
		}
		subtype slider
		default 1
		range {0 5 .001}
		detail varying
	    }
	    parameter string SpecBlurFilter {
		label "Blur Filter"
		description {
		    Type of filter to use for blurring. Disk
		    may give better results, but is more compute-intensive.
		}
		subtype selector
		range {
		    Box box
		    Gaussian gaussian
		    Disk disk
		}
		default gaussian
	    }
	    parameter float SpecMinSamples {
		display hidden
		label "Min Samples"
		description {
		    The minimum number of rays to sample.
		    This number is employed for materials
		    with very focused specular reflections.
		}
		default 1
		subtype slider
		range {1 2048 4}
	    }
	    parameter float SpecMaxSamples {
		display hidden
		label "Max Samples"
		description {
		    The maximum number of rays to sample
		    This number is employed for materials
		    with very soft specular reflections.
		}
		default 1
		subtype slider
		range {1 2048 4}
	    }
	    parameter float SpecMinBlurFactor {
		display hidden
		label "Min Blur Factor"
		description {
		    A scaling factor that affects the amount of blur
		    used when sampling the environment. Increasing
		    the blur can help achieve smoother results.
		    The minimum amount of blur is used for surfaces
		    with sharp reflections.
		}
		default 1
		subtype slider
		range {0 10}
	    }
	    parameter float SpecMaxBlurFactor {
		display hidden
		label "Max Blur Factor"
		description {
		    A scaling factor that affects the amount of blur
		    used when sampling the environment. Increasing
		    the blur can help achieve smoother results.
		    The maximum amount of blur is used for surfaces
		    with soft reflections.
		}
		default 1
		subtype slider
		range {0 10}
	    }
	    parameter string SpecSubset {
		display hidden
		label Subset
		description {
		    The name of the set of objects that contribute shadowing
		    in your scene.  Leave this blank to cause all objects
		    to partake in shadow calcs.  You can speed up the calcs
		    by reducing the number of objects to test for shadows.
		}
		default ""
	    }
	    parameter float SpecMaxDist {
		display hidden
		label "Max Dist"
		description {
		    The maximum distance to consider for shadowing.  Only
		    objects within this distance will contribute shadows.
		    Reducing this number can often accelerate rendering speed.
		}
		default 100
	    }
	    parameter float SpecMaxVariation {
		display hidden
		label "Max Variation"
		description {
		    The maximum variation (expressed as a percentage)
		    tolerable for occlusion and indirect calculations.
		    A larger tolerable variation will decrease
		    rendering time at the expense of quality.
		}
		default 0.05
		subtype slider
		range {0 0.5 .01}
	    }
	    collection void SpecContrib {
		label Contribution
		description {
		    Controls for the contribution of these effects to
		    various shading components in the surface.
		}
		parameter float Specular {
		    description {
			Controls the amount this light contributes to the
			specular portion of a surface's shadingmodel.
		    }
		    detail varying
		    default 1
		    subtype slider
		    range {0 1 .01}
		}
		parameter float Reflection {
		    description {
			Controls the amount this light contributes to the
			reflection portion of a surface's shadingmodel.
		    }
		    detail varying
		    default 1
		    subtype slider
		    range {0 1 .01}
		}
		parameter float Refraction {
		    description {
			Controls the amount this light contributes to the
			refraction portion of a surface's shadingmodel.
		    }
		    detail varying
		    default 1
		    subtype slider
		    range {0 1 .01}
		}
	    }
	}

	parameter normal ShadingNormal {
	    detail mustvary "pixar,ShadingNormal"
	}
	parameter vector IncidentDirection {
	    detail mustvary "pixar,IncidentDirection"
	}
	parameter float __coneangle {
	    provider primitive
	    display hidden
	    detail varying
	    default 0
	}
	parameter vector __coneaxis {
	    provider primitive
	    display hidden
	    detail varying
	    default {0 0 0}
	}
	parameter float __surfacearea {
	    provider primitive
	    display hidden
	    detail varying
	    default -100
	}
	parameter color __surfaceradiosity {
	    provider primitive
	    display hidden
	    detail varying
	    default 0
	}
	parameter string __category {
	    access output
	    provider primitive
	    detail uniform
	    display hidden
	    default "environment"
	}
	parameter float __nondiffuse {
	    access output
	    display hidden
	    detail varying
	    provider primitive
	    default 0
	}
	parameter float __nonspecular {
	    display hidden
	    access output
	    detail varying
	    provider primitive
	    default 0
	}
	parameter color _indirectdiffuse {
	    access output
	    display hidden
	    detail varying
	    provider primitive
	    default {0 0 0}
	}
	parameter float _occlusion {
	    access output
	    display hidden
	    detail varying
	    provider primitive
	    default {0}
	}

	eval [::slimLightContributionOutputMacro -refl]
	parameter color result {
	    access output
	    detail varying
	    display hidden
	}
	RSLSource DynamicFunction {
	    proc primvars {} {
		if {[getval diffObjMethod] == "approximated"} {
		    # point-based effects
		    set atl pba
		    set sty ptcFilterBkm
		    set map [getval DiffBakeMap]
		    set d [getval DiffBakeDisable]
		    set f [getval DiffBakeFrequency]
		    set newer [getval DiffBakeLazy]
		    set ma [getval DiffBakeMaxSolidAngle]
		    set md [getval DiffMaxDist]
		    set bc [getval DiffBakeContext]
		   
		    # the value of diffObjEffects is the filter we'll use
		    set filter [getval diffObjEffects]

		    setval diffBakedFile \
			"\[bakemap -atlas $atl -map $map -style $sty -disable $d -freq $f -newer $newer -ptfilter:filter $filter -ptfilter:maxdist $md -ptfilter:clamp 1 -ptfilter:maxsolidangle $ma\]"
		    setval diffPtcFile "\[ptcfile $atl $map $f\]" 
		    setval diffBakePass "\[bakepassid $atl $map $bc\]"
		} else {
		    setval diffBakedFile ""
		    setval diffPtcFile ""
		    setval diffBakePass ""
		}
	    }
	    proc function {} {
		generateBody {
		    # determine P to use
		    output -noindent "#if SLIM_SHADERTYPEID == SLIM_TYPEID_light"
		    output "  point pp = Ps;"
		    output -noindent "#else"
		    output "  point pp = P;"
		    output -noindent "#endif"
		    
		    # externs; these are passed to/from surface shaders
		    foreach e {
			__coneangle __surfacearea __nondiffuse __nonspecular
			_contribRim _contribThinTranslucence 
			_contribBackScattering _contribSubsurfaceScattering 
			_contribReflection _contribRefraction
		    } {
			output "extern float $e;"
		    }
		    output "extern float _occlusion;"
		    output "extern color _indirectdiffuse;"
		    output "extern vector __coneaxis;"
		    output "extern color __surfaceradiosity;\n"
		    

		    output "vector axis, r;\n"

		    # set contribution factors
		    output "__nondiffuse = 1-Diffuse;"
		    output "_contribRim = Rim;"
		    output "_contribThinTranslucence = ThinTranslucence;"
		    output "_contribBackScattering = BackScattering;"
		    output "_contribSubsurfaceScattering = SubsurfaceScattering;"
		    output "__nonspecular = 1-Specular;"
		    output "_contribReflection = Reflection;"
		    output "_contribRefraction = Refraction;"
		    output "result = color(0);\n"

		    # determine current pass (if any)
		    output "string pass = diffBakeCurrentContext;"
		    output "if (pass == \"\")"
		    output "  option(\"user:pass_id\", pass);\n"

		    output "if (__surfacearea >= 0) {"
		    indent
		    output
		    output "// this is the case if the shader is"
		    output "// passing surface info to bake\n"

		    output "if (pass == diffBakePass && diffPtcFile != \"\") {"
		    indent
		    output "bake3d(diffPtcFile, \"_area,_radiosity\","
		    output "    pp, normal(__coneaxis),"
		    output "    \"interpolate\", 1,"
		    output "    \"_area\", __surfacearea,"
		    output "    \"_radiosity\", __surfaceradiosity);\n"
		    exdent
		    output "}"
		    
		    exdent
		    output "} else {"
		    indent
		    #
		    #  diffuse
		    #
		    output "if ( __coneangle > 1.56 ) {"
		    indent
		    output
		    output "// Diffuse"

		    set objMethod [getval diffObjMethod]
		    set objEffects [getval diffObjEffects]
		    output "// Object Calculations : $objMethod"
		    output "// Object Effects      : $objEffects\n"

		    output "if(vector(0,0,0) == __coneaxis)"
		    output "  axis = ShadingNormal; // surface normal"
		    output "else"
		    output "  axis = __coneaxis;"
		    # __coneangle is usually just PI/2, 
		    # but can be larger for components
		    # that request some creep
		    output "float cone = DiffHemisphere*__coneangle;\n"

		    # environment
		    output "if (diffEnvMethod == 1) {\n"
		    indent
		    output "// sampled environment"
		    if {$objMethod == "traced"} {
			if {$objEffects == "colorbleeding"} {
			    output "// color bleeding enabled,"
			    output "// sample via indirectdiffuse"
			    output "float occ = 0;"
			    output "result = indirectdiffuse(pp, axis,"
			    output "    DiffSamples,"
			    output "    \"coneangle\", cone,"
			    output "    \"hitmode\", DiffHitMode,"
			    output "    \"subset\", DiffSubset,"
			    output "    \"maxdist\", DiffMaxDist,"
			    output "    \"maxvariation\", DiffMaxVariation,"
			    output "    \"environmentmap\", MapName,"
			    output "    \"environmentspace\", Space,"
			    output "    \"occlusion\", occ);"
			    output "_occlusion = occ;"
			    output "_indirectdiffuse = result;"
			} else {
			    output "// occlusion enabled,"
			    output "// sample via occlusion"
			    output "_occlusion = occlusion(pp, axis,"
			    output "    DiffSamples,"
			    output "    \"coneangle\", cone,"
			    output "    \"subset\", DiffSubset,"
			    output "    \"maxdist\", DiffMaxDist,"
			    output "    \"maxvariation\", DiffMaxVariation,"
			    output "    \"environmentmap\", MapName,"
			    output "    \"environmentspace\", Space,"
			    output "    \"environmentcolor\", result);"
			}
		    } else {
			# sample the environment directly
			output "if (MapName != \"\") {"
			indent
			output "vector r = 0;"
			output "result = 0;"
			output "float w = pxslCalculateEnvSampleArea("
			output "    DiffHemisphere, DiffSamples);"
			output "w *= DiffSampleBlurFactor;"
			output "vector v1, v2, v3, v4;\n"

			output "gather(\"samplepattern\", pp, axis,"
			output "    cone, DiffSamples,"
			output "    \"distribution\", \"cosine\","
			output "    \"ray:direction\", r) {"
			output "} else {"
			indent
			output "// calculate direction vectors"
			output "pxslBuildEnvironmentVectors("
			output "     w, r, v1, v2, v3, v4);"
			output "if(Space != \"\") {"
			output "  v1 = vtransform(Space, v1);"
			output "  v2 = vtransform(Space, v2);"
			output "  v3 = vtransform(Space, v3);"
			output "  v4 = vtransform(Space, v4);"
			output "}\n"
			output "result += color environment(MapName,"
			output "     v1, v2, v3, v4);"
			exdent
			output "}" 
			output "result /= DiffSamples;"
			output "_indirectdiffuse = result;"
			exdent
			output "}"
		    }

		    exdent
		    output
		    output "} else {\n"

		    indent
		    output "if (diffEnvMethod == 0 && MapName != \"\") {"
		    indent
		    output "// blurred environment"
		    output "vector r;"
		    output "if( Space != \"\" )"
		    output "  r = vtransform(Space, axis);"
		    output "else"
		    output "  r = axis;\n"
		    output "result = color environment (MapName, r," 
		    output "    \"filter\", DiffBlurFilter,"
		    output "    \"lerp\", 1,"
		    output "    \"blur\", cone);"
		    output "_indirectdiffuse = result;"
		    exdent
		    output "}"

		    if {$objMethod == "traced"} {
			# add object effects separately
			output
			output "// incoporate object effects"
			output "float occ;"
			if {$objEffects == "colorbleeding"} {
			    output "color indirect;"
			    output "indirect = indirectdiffuse(pp, axis,"
			    output "    DiffSamples,"
			    output "    \"coneangle\", cone,"
			    output "    \"hitmode\", DiffHitMode,"
			    output "    \"subset\", DiffSubset,"
			    output "    \"maxdist\", DiffMaxDist,"
			    output "    \"maxvariation\", DiffMaxVariation,"
			    output "    \"occlusion\", occ);"
			    
			    output "// scale by occlusion"
			    output "result *= 1-occ;"
			    output "// add indirect"

			    output "result = indirect;"
			    output "_indirectdiffuse = indirect;"
			    output "_occlusion = occ;"
			} else {
			    output "occ = occlusion(pp, axis, DiffSamples,"
			    output "    \"coneangle\", cone,"
			    output "    \"subset\", DiffSubset,"
			    output "    \"maxdist\", DiffMaxDist,"
			    output "    \"maxvariation\", DiffMaxVariation);"
			    output "// scale by occlusion"
			    output "result *= 1-occ;"
			    output "_occlusion = occ;"
			}
		    }
		    exdent
		    output "}"
		    output
		    
		    # incorporate baked object effects
		    # (occlusion, color bleeding)
		    if {$objMethod == "approximated"} {
			output
			output "if(pass != diffBakePass) {"
			indent
			output "// baked, point-based irradiance/occlusion"
			output "float occ;"
			if {$objEffects == "colorbleeding"} {
			    output "color indirect;"
			}
			output "texture3d(diffBakedFile, pp, normal(axis),"
			if {$objEffects == "colorbleeding"} {
			    output "    \"_indirectdiffuse\", indirect,"
			}
			output "    \"_occlusion\", occ);\n"
			output "// scale by occlusion"
			output "result *= 1-occ;"
			if {$objEffects == "colorbleeding"} {
			    output "// add color bleeding"
			    output "result += indirect;"
			}
			output "_occlusion = occ;"
			if {$objEffects == "colorbleeding"} {
			    output "_indirectdiffuse = indirect;"
			}
			exdent
			output "}\n"
		    }


		    #
		    #  specular
		    #
		    exdent
		    output "} else if (__coneangle >= 0) {"
		    indent
		    output 
		    output "// Specular\n"
		    output "if(vector(0,0,0) == __coneaxis)"
		    output "  axis = reflect(IncidentDirection, ShadingNormal); // reflection direction"
		    output "else"
		    output "  axis = __coneaxis;\n"

		    output "if (specularMethod == 0) {"
		    indent
		    output "// blurry environment lookup"
		    output "if(Space != \"\")"
		    output "  axis = vtransform(Space, axis);"
		    output "float blur;"
		    output "blur = SpecBlurFactor * __coneangle / PI;"
		    output "result += color environment(MapName, axis,"
		    output "    \"filter\", SpecBlurFilter,"
		    output "    \"lerp\", 1,"
		    output "    \"blur\", blur);"
		    exdent

		    output "} else if (specularMethod == 1) {"
		    indent
		    output "// sampled environment"
		    output "float ncone = pow(__coneangle / 1.55, 2);"
		    output "float specSamples, specSampleBlur;"
		    output "specSamples = mix(SpecMinSamples, "
		    output "    SpecMaxSamples, ncone);"
		    output "specSampleBlur = mix(SpecMinBlurFactor, "
		    output "    SpecMaxBlurFactor, ncone);"
		    output "float w = pxslCalculateEnvSampleArea("
		    output "    ncone, specSamples);"
		    output "w *= specSampleBlur;\n"

		    output "vector v1, v2, v3, v4;"
		    output "color spec = 0;"
		    output "gather(\"samplepattern\", pp, axis, "
		    output "    __coneangle, specSamples,"
		    output "    \"distribution\", \"cosine\","
		    output "    \"ray:direction\", r) {"
		    output "} else {"
		    indent
		    output "// calculate direction vectors"
		    output "pxslBuildEnvironmentVectors(w, r, v1, v2, v3, v4);"
		    output "if (Space != \"\") {"
		    output "  v1 = vtransform(Space, v1);"
		    output "  v2 = vtransform(Space, v2);"
		    output "  v3 = vtransform(Space, v3);"
		    output "  v4 = vtransform(Space, v4);"
		    output "}"

		    output "spec += color environment(MapName, v1, v2, v3, v4);"
		    exdent
		    output "}"
		    output "spec /= specSamples;"
		    output "result += spec;"
		    exdent

		    output "} else if (specularMethod == 2) {"
		    indent
		    output "// occluded environment"
		    output "float ncone = pow(__coneangle / 1.55, 2);"
		    output "float specSamples;"
		    output "specSamples = mix(SpecMinSamples, "
		    output "    SpecMaxSamples, ncone);"
		    output "color spec = 0;"
		    output "occlusion(pp, axis, specSamples,"
		    output "    \"coneangle\", ncone,"
		    output "    \"subset\", SpecSubset,"
		    output "    \"maxdist\", SpecMaxDist,"
		    output "    \"maxvariation\", SpecMaxVariation,"
		    output "    \"environmentmap\", MapName,"
		    output "    \"environmentspace\", Space,"
		    output "    \"environmentcolor\", spec);"
		    output "result += spec;"
		    exdent
		    output "}\n" ; # specularMethod

		    exdent
		    output "}" ; # coneangle

		    exdent
		    output "}" ; # surfacearea
		}
	    }
	}
    }
  }
}
