slim 1 extensions pixar {
	extensions pixar pxsl {

templateV color FurColorPro 0 {
		parameter color RootColor {
		    label "Root Color"
		    detail varying
		    default {.5 .5 .5}
	    }
	  parameter color TipColor {
		    label "Tip Color"
				detail varying    
		    default {.5 .5 .5}
	    }
	 	parameter float useColorRamp {
	    label "use Color Ramp"
	    subtype switch
	    range {0 10}
	    default 0
	    }    
				collection SplineColor SplineColor {
				state open
				customui pixar ColorSpline
				parameter float numKnots {
				    subtype slider
				    range {4 32 1}
				    default 4
					}
				for {set i 0} {$i < 32} {incr i} {
				    if {$i <= 1} {
					parameter float k$i {
					    subtype slider
					    range {0 1}
					    default 0
					}	    
					parameter color c$i {
					    detail varying
					    default {0 0 0}
					}
				    } elseif {$i <= 3} {
					parameter float k$i {
					    subtype slider
					    range {0 1}
					    default 1
					}	    
					parameter color c$i {
					    detail varying
					    default {1 1 1}
					}
				    } else {
					parameter float k$i {
					    subtype slider
					    range {0 1}
					    default 0
					}	    
					parameter color c$i {
					    detail varying
					    default {0 0 0}
					}
				    }
				}
			    }
		parameter float variousHair {
				label "Various Hair"	
				detail varying
				default 0.1
				range {0 1}
		}
		parameter float ClumpDarkness {
				label "Clump Darkness"	
				detail varying
				default 0.1
				range {0 5}
		}
		parameter float ClumpHeight {
				label "Clump Height"	
				detail varying
				default 0.0
				range {0 1}
		}					
				    
	collection void ExternProperties {
  	display hidden    
		parameter float hairId {
				display hidden
				provider primitive
				detail uniform
				default 0
    }
		parameter vector clump_vector {
				display hidden
				provider primitive
				detail uniform
				default 0
    }
		parameter vector clump_normal {
				display hidden
				provider primitive
				detail uniform
				default 0
    }
   }               
    
    parameter color result {
				access output
				display hidden
    }
    RSLFunction {
	void
	pxslFurColorPro(
				color RootColor;
				color TipColor;
				float useColorRamp;
	      float numKnots;
	      float k0; color c0; float k1; color c1; float k2; color c2;
	      float k3; color c3; float k4; color c4; float k5; color c5;
	      float k6; color c6; float k7; color c7; float k8; color c8;
	      float k9; color c9; float k10; color c10; float k11; color c11;
	      float k12; color c12; float k13; color c13; float k14; color c14;
	      float k15; color c15;
              float k16; color c16; float k17; color c17; float k18; color c18;
	      float k19; color c19; float k20; color c20; float k21; color c21;
	      float k22; color c22; float k23; color c23; float k24; color c24;
	      float k25; color c25; float k26; color c26; float k27; color c27;
	      float k28; color c28; float k29; color c29; float k30; color c30;
	      float k31; color c31;
	      float variousHair;
	      float ClumpDarkness;
	      float ClumpHeight;
	      output color outputColor;
	     )
	{
		
			extern float hairId;
			extern vector clump_vector;
			extern vector clump_normal;
			vector nL = normalize(L);	
	    float k;
	    color splineColor;
	    k = float spline( "solvecatrom", clamp(v, 0, 1), 
			k0, k1, k2, k3, k4, k5,
			k6, k7, k8, k9, k10, k11,
			k12, k13, k14, k15,
			k16, k17, k18, k19, k20, k21,
			k22, k23, k24, k25, k26, k27,
			k28, k29, k30, k31 );
	    splineColor = color spline( "catrom", k, 
			c0, c1, c2, c3, c4, c5, 
			c6, c7, c8, c9, c10, c11,
			c12, c13, c14, c15,
			c16, c17, c18, c19, c20, c21, 
			c22, c23, c24, c25, c26, c27,
			c28, c29, c30, c31 );
			
			color hairColor = 0;
			hairColor =  mix(RootColor, TipColor, v);
			if (useColorRamp == 1)			
				hairColor = splineColor;
			float noiseId = float cellnoise(hairId);
			noiseId = (1 - variousHair) + variousHair * noiseId;
			
			float clump_dark = 1;			
			float clump_vectorL = length(clump_vector);	
			float clumpMixer = 1;		
			if (ClumpDarkness > 0)	
				clump_dark = 1 - (clump_vectorL * ClumpDarkness * abs(clamp(nL.normalize(clump_normal), 0, 1)));
			else
				clump_dark = 1;


			if (ClumpHeight > 0)
				{
					clumpMixer = v/ClumpHeight;
					if (clumpMixer >= 1)
						clumpMixer = 1; 
					clump_dark = mix(clump_dark, 1, clumpMixer);
				}
				else
					clump_dark = 1;
								
	
			outputColor	 = hairColor * noiseId * clump_dark;			
 
	}
    }
   }
   
  }
}

