slim 1 extensions pixardb {
extensions pixar pxsl {     

template normal FurNormalPro {
label "Fur NormalPro"
	
parameter float normalType {
    label "use furNormal"
    description "normal model for the fur"
    subtype selector
    range {SurfaceN 0 "SurfaceN + TangentN" 0.5 KajiaN 1 "KajiaN + SurfaceN" 1.5}
    default 0.5
    }
parameter float surfKajBlendN {
	   label "Kajia Surface BlendN"
	   range {0 1 0.0001}
	   detail varying
	   default "1"
       }    	
        
parameter normal SN {
	display hidden
	provider primitive
	detail uniform
	default 0
    }	    
parameter normal result {
	access output
	display hidden
    }    
RSLSource StaticFunction {
	void
	pxslFurNormalPro(float which; float surfKajBlendN; output normal result;)
	{
	extern normal SN;	    
	vector T = normalize (dPdv);
	vector nL = normalize(N); 
	varying normal nSN = normalize(SN);
	vector S = nSN^T;
	vector N_hair = (T^S);
	normal norm_hair = 0;
	
	vector K = nL-(T.nL)*T;	
	
		
		if (which == 0 )
			norm_hair = nSN;
		else							
		if (which == 0.5)
		{	
			float  l = clamp(nSN.T,0,1);
			norm_hair = (l * nSN) + ((1-l) * N_hair);			
		}
		else				
		if (which == 1) 
		{
			norm_hair = K;
		}
		else				
		if (which == 1.5) 
		{
			norm_hair = K;
			if(surfKajBlendN > 0)
			{	
		 /*   float mixing = v / surfKajBlendN ;
		    if (mixing >= 1)
		    	mixing =1;
				norm_hair = mix(nSN, K, mixing);*/
			vector A = T^nL;
			vector Nlight = A^T;
			norm_hair = Nlight;				
				
			}			
		}			
		
			
result = normalize(norm_hair);
	}
 }
}

}
}
