slim 1 extensions pixar {
	extensions pixar pxsl {
                    
template shadingmodel shaderPro {
description {
	   Universal surface shader
	}
	collection void Attr {
	label "Attributes"
	state close	
	parameter string frame {
			display hidden
			provider variable
			default {[format %04d $f]}
		}
		parameter string filename {
			display hidden
			label "file name"
			provider variable
			default {[workspace GlobalizePath [workspace GetDir torTextures 1 1]]}
		}
		parameter string BakeContext {
			description "The name of the rendering context to bake the areas."
			default "BAKECONTEXT"
		}
		parameter string DspyName {
			display hidden
			provider variable
			default {[mel "mtor control getvalue -rg dspyName"]}
		}
		parameter string CurrentContext {
			display hidden
			description "this hidden parameter captures the current context"
			provider variable
			default {$::CONTEXT}
		}
		
		parameter string dspyPrimOnly {
			display hidden
			provider variable
			default {[mel "slimcmd rmanctl GetValue dspyPrimaryOnly"]}
		}
		parameter string secDspyName1 {
			display hidden
			provider variable
			default {[mel "slimcmd rmanctl GetValue dspyName_1"]}
		}				

		slimattribute int DoBaking {
			description "Use baking for this appearance"
			subtype switch
			default 1
		}
		slimattribute string BakeFrequency {
			subtype selector
			range {
				Job Job
				Frame Frame
			}
			default "Frame"
		}
			parameter string instance {
			provider variable
			default "AREARADIOSITY"
		}
			parameter float Ki {
			description {Indirect influence}			
			label "Ki"	
			detail varying
			default 1
			range {0 3}
		}	
		slimattribute int DoIndirectColor {
			description "ignore surface color and enable indirectColor for indirect function"
			subtype switch
			default 0
		}
		parameter color IndirectColor {
			description "indirectColor for indirect function"		
			label "indirect Color"
			detail varying
			default {1 1 1}
		}					
		ribattribute string CastsShadows {
		label "Casts Shadows"
		description {
		 Controls how surfaces shadow other surfaces.
		 Possible values for shadowval are shown below, in
		 order of increasing computational cost. You can 
		 optimize rendering time by making surfaces known 
		 to be opaque "opaque". To take an object out of
		 consideration during shadow generation, choose transparent
		 or, better, disable the per-object attribute in your modeler. 
		 It is important, however, to use "shade" for any surfaces
		 whose shaders modify the opacity of the surface in any
		 patterned way.
		}
		default shade
		subtype selector
		range {
		    Transparent transparent
		    Opaque opaque
		    Os Os
		    Shade shade
		    }
	}
		parameter normal Normal {
			description "global normal for ShaderPro"
	    detail mustvary "pixar,ShadingNormal"
	}					
			
	}	
	

	
	parameter color surfColor {
	label "surface Color"
	detail varying
	default {1 1 1}
	}
	parameter color surfOpacity {
	label "surface Opacity"
	detail varying
	default {1 1 1}
	}
	collection void masks {
	label "Mask"
	state open	
	parameter color mask1 {
	label "mask1"
	detail varying
	description "complex object masking"	
	default {0 0 0}
	}
	parameter color mask2 {
	label "mask2"
	detail varying
	description "simple different object masking"
	default {0 0 0}
	}
	parameter color mask3 {
	label "mask3"
	detail varying
	description "glow masking"
	default {0 0 0}
	}	
	}
	

	collection void ambientComponent {
	label "Ambient Component"
	state open
	
	parameter float enableA {
    label "enable Ambient"
    description "enable ambient component"
    subtype switch
    range {0 10}
    default 1
    }	
	
	parameter float Ka {
	label "Ka"	
	detail varying
	default 0.1
	range {0 1}
	}
	parameter float useDiffuse {
    label "useDiffuse"
    description "use diffuse color for ambient component"
    subtype switch
    range {0 10}
    default 1
    }	
	parameter color ambientColor {
	label "ambient Color"
	detail varying
	default {1 1 1}
	}
	}    


	collection void diffuseComponent {
	label "Diffuse Component"
	state open
	
	parameter float enableD {
    label "enable Diffuse"
    description "enable diffuse component"
    subtype switch
    range {0 10}
    default 1
    }			

	parameter float Kd {
	label "Kd"	
	detail varying
	default 0.8
	range {0 1}
	}
	parameter float Ktd {
	label "Ktd"	
	detail varying
	default 0.0
	range {0 1}
	}
	parameter float translucenceCoeff {
	label "translucence"
	description "The degree to which light from front or back is
	    	       scattered at this surface."
	detail varying
	subtype slider
	range {0 1}
	default 0
	}	
	parameter float roughnessOrenN {
	label "roughness OrenNayr"	
	detail varying
	default 0.0
	range {0 1}
	}		
	parameter color diffuseColor {
	label "diffuse Color"
	detail varying
	default {1 1 1}
	}
		parameter float lightTypeD {
	label Use
	description {
		    Whether to respond to traditional CG lights,
		    lighting from environment maps, or both.
		}		    
	subtype selector
	range {
		    "Lights" -1
		    "Environments" 1
		    "Lights + Environments" 0
		}
	default 0
	    }				
	}
	
	
	collection void specularComponent {
	label "Specular Component"
	state close	
	parameter float enableS {
    label "enable Specular"
    description "enable specular component"
    subtype switch
    range {0 10}
    default 0
    }
	parameter float useBlinn {
    label "useBlinn"
    description "enable Blinn lighting model"
    subtype switch
    range {0 10}
    default 0
    }
	parameter float kindMat {
    label "premult Diffuse"
    description "enable metal lighting model"
    subtype switch
    range {0 10}
    default 0
    }
	parameter float useEnv {
    label "use EnvComponent"
    description " Enable environment multiplying on specular component.
    Enable Environmemt Component for using this option!!!"
    subtype switch
    range {0 10}
    default 0
    }      
	parameter float ignoreSOp {
    label "ignore Opacity"
    description "enable ignoring of opacity"
    subtype switch
    range {0 10}
    default 0
    }
	parameter float Ksp {
	label "Ksp"	
	detail varying
	default 0.8
	range {0 1}
	}	
	parameter float roughnessSpec {
	label "roughnessSpec"	
	detail varying
	default 0.05
	range {0 1}
	}	
	parameter color specularColor {
	label "specular Color"
	detail varying
	default {1.0 1.0 0.6}
	}
		parameter float lightTypeS {
	label Use
	description {
		    Whether to respond to traditional CG lights,
		    lighting from environment maps, or both.
		}		    
	subtype selector
	range {
		    "Lights" -1
		    "Environments" 1
		    "Lights + Environments" 0
		}
	default 0
	    }
			
	}
	
	
	collection void glossyComponent {
	label "Glossy Component"
	state close
	parameter float enableG {
    label "enable Glossy"
    description "enable glossy component"
    subtype switch
    range {0 10}
    default 0
    }
	parameter float ignoreGOp {
    label "ignore Opacity"
    description "enable ignoring of opacity"
    subtype switch
    range {0 10}
    default 0
    }
	parameter float Kg {
	label "Kg"	
	detail varying
	default 1
	range {0 1}
	}
	parameter float rougnessGloss {
	label "rougnessGloss"	
	detail varying
	default 0.01
	range {0 0.1}
	}
	parameter float sharpnessGloss {
	label "sharpnessGloss"	
	detail varying
	default 0.49
	range {0 1}
	}
	parameter color glossyColor {
	label "glossy Color"
	detail varying
	default {0.8 1.0 0.8}
	}				
	}
	
	
	collection void environmetComponent {
	label "Environmet Component"
	state close	
	parameter float enableE {
    label "enable Environment"
    description "enable environment component"
    subtype switch
    range {0 10}
    default 0
    }
	parameter float multE {
    label "multiply Environment"
    description "enable environment multiplying on all components"
    subtype switch
    range {0 10}
    default 0
    }     
  
	parameter float ignoreEOp {
    label "ignore Opacity"
    description "enable ignoring of opacity"
    subtype switch
    range {0 10}
    default 0
    }
	parameter float Kr {
	label "Kr"	
	detail varying
	default 0.2
	range {0 1}
	}
	parameter float blur {
	label "env blur"	
	detail varying
	default 0.0
	range {0 1}
	}
	parameter float ior {
	label "ior"	
	detail varying
	default 1
	range {0 3}
	}
	parameter float amountFresnel {
	label "amountFresnel"	
	detail varying
	default 1
	range {0 1}
	}	
	parameter float envrad {
	label "env radius"	
	detail varying
	default 100
	range {0 3}
	}
	parameter string envname {
    label "environment map"
    description "Choose an image file for mapping."
    provider variable
    subtype texture
    default ""
    }
	parameter string envspace {
    label "environment space"
    default _environment
    }	
	}
	
	collection void rimComponent {
	label "Rim Component"
	state close	
	parameter float enableR {
    label "enable Rim"
    description "enable rim component"
    subtype switch
    range {0 10}
    default 0
    }
	parameter float ignoreROp {
    label "ignore Opacity"
    description "enable ignoring of opacity"
    subtype switch
    range {0 10}
    default 0
    }
	parameter float Krim {
	label "Krim"	
	detail varying
	default 1
	range {0 1}
	}
	parameter float edginessRim {
	label "edginessRim"	
	detail varying
	default 1.5
	range {0 2}
	}			
	parameter float sharpnessRim {
	label "sharpnessRim"	
	detail varying
	default 0.0
	range {0 1}
	}
	parameter color colorationRim {
	label "rim Color"
	detail varying
	default {1.0 1.0 1.0}
	}
	parameter float lightType {
	label Use
	description {
		    Whether to respond to traditional CG lights,
		    lighting from environment maps, or both.
		}		    
	subtype selector
	range {
		    "Lights" -1
		    "Environments" 1
		    "Lights + Environments" 0
		}
	default -1
	    }	
	}
	
	
	collection void customInputs {
	label "Input Components"
	state close	
	parameter color occlInput {
	label "occlusionInput"
	detail varying
	default {1 1 1}
	}
	parameter color indirectInput {
	label "indirectDInput"
	detail varying
	default {0 0 0}
	}		
	parameter color addInput {
	label "addInput"
	detail varying
	default {0 0 0}
	}
	parameter color screenInput {
	label "screenInput"
	detail varying
	default {0 0 0}
	}	
	parameter color multInput {
	label "multInput"
	detail varying
	default {1 1 1}
	}	
	}
		
	collection void customAOVs {
	label "custom AOVs"
	state close	
	
	slimattribute string ambientAOV {
	default "pAmbient"
	}
	slimattribute string diffuseColorAOV {
	default "pDiffuseColor"
	}
	slimattribute string diffDirectionAOV {
	default "pDiffuseDirect"
	}
	slimattribute string specularAOV {
	default "pSpecularColor"
	}
	slimattribute string specularDirectAOV {
	default "pSpecularDirection"
	}	
	slimattribute string rimAOV {
	default "pRim"
	}
	slimattribute string zAOV {
	default "pDepth"
	}
	slimattribute string mask1AOV {
	default "pMask1"
	}
	slimattribute string mask2AOV {
	default "pMask2"
	}
	slimattribute string mask3AOV {
	default "pMask3"
	}	
	slimattribute string envAOV {
	default "pEnvironment"
	}
	
	slimattribute string occlusionInAOV {
	default "pOcclusionInput"
	}
	slimattribute string indirectDInAOV {
	default "pIndirectInput"
	}	
	slimattribute string addInAOV {
	default "pAddInput"
	}
	slimattribute string screenInAOV {
	default "pScreenInput"
	}
	slimattribute string multInAOV {
	default "pMultInput"
	}
	slimattribute string difDirShadAOV {
	default "pInShadow_notWork"
	}
	slimattribute string normSurfAOV {
	default "normSurf"
	}
				
	}		
	
	collection shadingmodel result {
	    access output
	    display hidden
	    parameter color CI {
		access output
	    }
	    parameter color OI {
		access output
	    }
	}
	

	RSLInclude "//Server/edge/tools/rmanshaders/templates/libPro.h"
	RSLInclude "pxslUtil.h"
	RSLSource DynamicFunction {
	proc primvars {} {
	
		   if { [getval ambientAOV] != "" } {
    		declare output varying color [getval ambientAOV] {color(0,0,0)}
   			}
		   if { [getval diffuseColorAOV] != "" } {
    		declare output varying color [getval diffuseColorAOV] {color(0,0,0)}
   			}
		   if { [getval diffDirectionAOV] != "" } {
    		declare output varying color [getval diffDirectionAOV] {color(0,0,0)}
   			}
		   if { [getval specularAOV] != "" } {
    		declare output varying color [getval specularAOV] {color(0,0,0)}
   			}
		   if { [getval specularDirectAOV] != "" } {
    		declare output varying color [getval specularDirectAOV] {color(0,0,0)}
   			}
		   if { [getval rimAOV] != "" } {
    		declare output varying color [getval rimAOV] {color(0,0,0)}
   			}
		   if { [getval zAOV] != "" } {
			declare output varying color [getval zAOV] {color(0,0,0)}
			}
		   if { [getval mask1AOV] != "" } {
			declare output varying color [getval mask1AOV] {color(0,0,0)}
			}
		   if { [getval mask2AOV] != "" } {
			declare output varying color [getval mask2AOV] {color(0,0,0)}
			}
		   if { [getval mask3AOV] != "" } {
			declare output varying color [getval mask3AOV] {color(0,0,0)}
			}			
		   if { [getval envAOV] != "" } {
			declare output varying color [getval envAOV] {color(0,0,0)}
			}
			
		   if { [getval addInAOV] != "" } {
			declare output varying color [getval addInAOV] {color(0,0,0)}
			}
		   if { [getval screenInAOV] != "" } {
			declare output varying color [getval screenInAOV] {color(0,0,0)}
			}
		   if { [getval multInAOV] != "" } {
			declare output varying color [getval multInAOV] {color(0,0,0)}
			}	
		   if { [getval occlusionInAOV] != "" } {
			declare output varying color [getval occlusionInAOV] {color(0,0,0)}
			}
		   if { [getval indirectDInAOV] != "" } {
			declare output varying color [getval indirectDInAOV] {color(0,0,0)}
			}
		   if { [getval difDirShadAOV] != "" } {
			declare output varying color [getval difDirShadAOV] {color(0,0,0)}
			}
			if { [getval normSurfAOV] != "" } {
		  declare output varying color [getval normSurfAOV] {color(0,0,0)}
		  }								
	}
	
	proc function {} {
			generateBody {
	output "string passVal = \"\";"
	output "option (\"user:pass_class\",passVal);"
	output "if (passVal == \"shadow\")"
	output "{"
	output "	OI = surfOpacity;"
	output "	CI = OI * surfColor;"
	output "}"
	output "else"
	output "{"				
	
	indent			
	output "extern point P;"
	output "extern normal N;"
	output "extern vector I;"
	output "normal n = normalize(N);"
	output "vector IN = normalize(I);"
	output "vector  V = -IN;"


	output "color ambC = 0;"
	if { [getval useDiffuse] == 1 } {
	output "ambC = diffuseColor;"
	} else {
	output "ambC = ambientColor ;"	
	}
	
	output "color pDiffColor = 0;"
	output "color pDiffDirect = 0;"
	output "color pDiffDirectShadow  = 0;"
	output "color pOcclusionDirect = 0;"
	output "color pDiffIndirect = 0;"
	output "color pDiffEnvironment = 0;"
	output "color pOcclusionIndirect  = 0;"
	output "color ambD = 1;"
	output "color D = 0;"
	output "color pShadowPass = 0;"
	
	output "ambientDiffuseFunc( Normal, n , V, Ka, ambC, Kd, diffuseColor, roughnessOrenN, enableA, enableD, lightTypeD, "
	output "	pDiffColor, pDiffDirect, pDiffDirectShadow, pOcclusionDirect, pDiffIndirect, pDiffEnvironment, "
	output "	pOcclusionIndirect, ambD, D, pShadowPass  );"
	output "color ambientDiffuse = ambD;"
	output "color thinDiffuse = Ktd*diffuse(-1*Normal) * diffuseColor;"
	
	output "color translucence = 0;"
	output "translucence = translucenceFunc(Normal, translucenceCoeff);"	
	
	
	output "float fkr, fkt;"
	output "vector R, T;"
	output "	if (ior != 1)"
	output "	{"
	output "		float eta = (V.N >= 0) ? (1/ior) : ior;"
	output "		fresnel (IN, Normal, eta, fkr, fkt, R, T);"
	output "		fkt = fkt * amountFresnel + (1-amountFresnel);"
	output "		fkr = fkr * amountFresnel + (1-amountFresnel);"
	output "	}"
	output "	else"
	output "	{"
	output "	 	fkt = 1;"
	output "	 	fkr = 1;"
	output "	}"

	output "color pSpecularDirect = 0; "		
	output "color pSpecularDirectShadow = 0;"
	output "color pSpecularEnvironment = 0;"
	output "color specSum = 0;"
	output "color specularComp;"
	output "		if (enableS * Ksp == 0)"
	output "		{"
	output "		specularComp = 0;"
	output "		}"
	output "		else"
	output "        {"
	output "		specularFunc(Normal, V, Ksp * fkr, roughnessSpec, specularColor, useBlinn, lightTypeS, pSpecularColor, "
	output "						pOcclusionDirect, pSpecularDirect, pSpecularDirectShadow, pSpecularEnvironment, specSum);"
	output "		specularComp = specSum;"
	output "			if(kindMat == 1) "
	output "			 {"
	output "			 specularComp *= diffuseColor;"
	output "			 }"
	output "		}"	
	
	
	output "color glossyComp;"	
	output "	 if (enableG * Kg == 0)"
	output "	 {"
	output "	 glossyComp = 0;"
	output "	 }"
	output "	else"
	output "	 {"
	output "	glossyComp = fkr * Kg * LocIllumGlossy(Normal, V, rougnessGloss, sharpnessGloss) * glossyColor;"
	output "	 }"
	
	
	output "color environmentComp;"
	output "vector Refl = reflect(IN, Normal);"
	output "	if (enableE * Kr == 0)"
	output "	 {"
	output "		environmentComp =0;"
	output "	 }"
	output "	else"
	output "	 {"
	output "		environmentComp = SampleEnvironmet( P, Refl, Kr*fkr, blur, ENVPARAMS);"
	output "	 }"
	output " 			if (useEnv == 1 && enableE * Kr * enableS * Ksp != 0)"	
	output "			 specularComp *= environmentComp;"
	
	
	
	
	output "color rimComp;"
	output "if (enableR * Krim ==0)"
	output "{"
	output "	rimComp = 0;"
	output "}"
	output "else"
	output "{"
	output "	rimComp = rimFunc(Normal, V,  Krim, colorationRim, edginessRim , sharpnessRim, lightType);"
	output "}"
	
	output "float sOp = 1;"
	output "float sTp = 0;"
	output "float gOp = 1;"
	output "float gTp = 0;"
	
	output "float eOp = 1;"
	output "float eTp = 0;"	
	output "float rOp = 1;"
	output "float rTp = 0;"	
	
	
	if { [getval ignoreSOp] == 1 } {
		output "sOp = 0;"
		output "sTp = 1;"
	}
	if { [getval ignoreGOp] == 1 } {
		output "gOp = 0;"
		output "gTp = 1;"
	}
	if { [getval ignoreEOp] == 1 } {
		output "eOp = 0;"
		output "eTp = 1;"
	}
	if { [getval ignoreROp] == 1 } {
		output "rOp = 0;"
		output "rTp = 1;"
	}					
	

	output "OI = surfOpacity;"
	output "CI = fkt * surfColor * (ambientDiffuse + thinDiffuse  + sOp * specularComp);"
	output "CI += indirectInput*diffuseColor;"
	output "CI = CI + screenInput - CI * screenInput;"
	output "CI += translucence;"	

		
	output "	if( multE == 1 && enableE * Kr != 0)"
	output "	 CI *= environmentComp ;"
	output "	else  "
	output " 	 CI += eOp * environmentComp ;"	
	output "CI += gOp * glossyComp + rOp * rimComp;"
	output "CI += addInput;"
	output "CI *= multInput;"
	output "CI *= occlInput;"	
	output "CI *= OI;"			
	output "CI += sTp * specularComp;"
	output "CI += gTp * glossyComp;"
	output "CI += eTp * environmentComp;"
	output "CI += rTp * rimComp;"

	
	output "if ( dspyPrimOnly == \"0\" )"
	output "{"
	indent
	
	output "point Q = transform(\"camera\", P);"
	output "float opacity = pxslLuminance(OI);"
	
	output "string currentFrame = \"\";"
	output "option (\"user:currentFrame\", currentFrame);"
	output "if (currentFrame == \"\")" 
	indent
		output "currentFrame = frame;"
	exdent
	
					if { [getval BakeFrequency] == "Frame" } {
						output "string _file = concat(filename, \"/\",DspyName,\".\", instance, \".\", currentFrame, \".ptc\");"
					} else {
						output "string _file = concat(filename, \"/\",DspyName,\".\", instance, \".ptc\");"
					}

						if { [getval DoBaking] != 0 } {
							
						output "if ( (secDspyName1 == \"pOcclusion\") || (secDspyName1 == \"pIndirect\") )"
						output "{"								
						
							output "string modeVal = \"\";"
							output "option (\"user:bakeMode\", modeVal);"
							output "if ((BakeContext == CurrentContext) || (modeVal == \"write\"))" 
							output "{"
								indent
								output "color indir = 0;"
									if { [getval DoIndirectColor] != 0 } {
										output "indir = IndirectColor * Ki;"
									} else {
										output "indir = Kd * diffuseColor * diffuse(Normal) * Ki;"
									}							
									output "float a = area(P, \"dicing\");"
									output "a *= opacity;"
									output "if (a > 0)  bake3d(_file, \"_area,_radiosity\", P, n, \"interpolate\", 1"
									output ", \"_area\", a"
									output ", \"_radiosity\", indir"
									output ");"
								#output "result = 0.0;"
								exdent
								output "}"
						exdent
						output "}"		
								
					}
					
		indent	
			
		if { [getval ambientAOV] != "" } {
	     output "[getval ambientAOV] = Ka * surfColor * ambientColor * ambient() * OI ;"
	    }		
		if { [getval diffuseColorAOV] != "" } {
	     output "[getval diffuseColorAOV] = surfColor * diffuseColor * OI;"
	    }
		if { [getval diffDirectionAOV] != "" } {
	     output "[getval diffDirectionAOV] = Kd * LocIllumOrenNayar (Normal, V, roughnessOrenN) * opacity;"
	    }
		if { [getval specularAOV] != "" } {
	     output "[getval specularAOV] = specularColor;"
	    }
		if { [getval specularDirectAOV] != "" } {
	     output "[getval specularDirectAOV] = pSpecularDirect + glossyComp;"
	    }
		if { [getval rimAOV] != "" } {
	     output "[getval rimAOV] = rimComp * OI;"
	    }
		if { [getval zAOV] != "" } {
		 output "[getval zAOV] = (1 - length(Q) / 1000) * opacity;"
		}
		if { [getval mask1AOV] != "" } {
	     output "[getval mask1AOV] = mask1 * opacity;"
	    }
		if { [getval mask2AOV] != "" } {
	     output "[getval mask2AOV] = mask2 * opacity;"
	    }
		if { [getval mask3AOV] != "" } {
	     output "[getval mask3AOV] = mask3 * opacity;"
	    }
		if { [getval envAOV] != "" } {
	     output "[getval envAOV] = environmentComp;"
	    }
		if { [getval addInAOV] != "" } {
	     output "[getval addInAOV] = addInput * OI;"
	    }
		if { [getval screenInAOV] != "" } {
	     output "[getval screenInAOV] = screenInput * OI;"
	    }
		if { [getval multInAOV] != "" } {
	     output "[getval multInAOV] = multInput * OI;"
	    }
		if { [getval occlusionInAOV] != "" } {
	     output "[getval occlusionInAOV] = occlInput * OI;"
	    }
		if { [getval indirectDInAOV] != "" } {
	     output "[getval indirectDInAOV] = indirectInput * OI;"
	    }
		if { [getval difDirShadAOV] != "" } {
	     output "[getval difDirShadAOV] = pShadowPass * OI;"
	    }
		if { [getval normSurfAOV] != "" } {
	     output "[getval normSurfAOV] = color(Normal) ;"
	    }		    

	    exdent	   
			output "}"
	exdent
	output "}"
	
						}
					}		
				}	
			}
		}
	}